/*
 * SPDX-FileCopyrightText: 2022-present Open Networking Foundation <info@opennetworking.org>
 *
 * SPDX-License-Identifier: Apache-2.0
 */
.example-container {
  height: 400px;
  overflow-x: hidden;
}

table {
  width: 100%;
}
.userEdit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  .row {
    width: 100%;
  }
  .left-section {
    display: flex;
    .user-detail-box {
      display: flex;
      align-items: center;
    }
    .userIdBox {
      margin-left: 10px;
    }
  }
  .middle-section {
    font-size: 28px;
    color: #3c4257;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .right-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    .fixed_tab_header {
      margin-right: 25px;
      color: #0063f7;
    }
    .close-button {
      color: #ef233c;
    }
  }
}

.user-detail h3,
.userIdBox h3 {
  margin-bottom: 0;
  color: #3c4257;
  font-weight: 500;
}

.header-table {
  background: #3c4257;
  border-radius: 6px 6px 0px 0px;
  .header-title {
    font-size: 16px;
    color: #fff;
    padding: 10px 24px;
  }
  .header-timestamp {
    font-size: 16px;
    color: #fff;
    padding: 10px 0;
  }
}

.descripton-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .description-control {
    color: #0063f7;
    font-size: 14px;
  }
}

// .audit-user-modal-container {
//   [class~="mat-content"] {
//     width: 100%;
//   }
//   [class~="mat-expanded"] {
//     height: 50px;
//   }
// }
.table-box {
  margin: 10px 0 0;
  background: #ffffff;
  border-radius: 4px;
  .row {
    border-bottom: 1px solid #c9deff;
    margin: 0 auto;
    & > div {
      padding-top: 14px;
      padding-bottom: 14px;
    }
    &:last-child {
      border-bottom: 0;
    }
    .table-title {
      color: #3c4257;
      font-weight: 500;
      margin: 5px 0;
    }
    .table-data {
      // margin: 5px 0;
      height: 100%;
      display: flex;
      align-items: center;
      line-height: 1.2;
    }
    .update {
      background: #06d6a0;
      border-radius: 45px;
      text-transform: uppercase;
      color: #fff;
      font-size: 14px;
      text-align: center;
      width: min-content;
      padding: 2px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      line-height: 2;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .remove {
      background: #ef233c;
      border-radius: 45px;
      text-transform: uppercase;
      color: #fff;
      font-size: 14px;
      text-align: center;
      width: min-content;
      padding: 2px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      line-height: 2;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
.downloadBox {
  display: flex;
  align-items: center;
  margin-top: 15px;
  color: #0063f7;
  font-weight: 500;
  img {
    margin-right: 7px;
  }
}
