<!-- <app-navbar></app-navbar> -->

<!-- <h3>Admin panel works..</h3> -->
<div class="row container-fluid admin-view">
  <div class="admin-sideNavbar-col2 ml-6">
    <aep-side-navbar></aep-side-navbar>
  </div>
  <div class="admin-right-view-col-lg-9 admin-right-view">
    <div class="col-12 useerPanel">
      <form [formGroup]="userForm">
        <mat-card class="col-12 my-1" *ngIf="AddNew">
          <mat-card-title class="admin-addNew-title my-4 mx-4"
            >Add new user</mat-card-title
          >
          <mat-card-content>
            <div class="admin-addNew-form my-4 mx-2 d-flex">
              <div class="admin-addNew-form-ppicHolder col-2 mx-3">
                <div class="admin-addNew-form-profile mx-2 my-4">
                  <img
                    src="../../assets/AdminPanel/Rectangle 966.svg"
                    alt="profile-pic-outline"
                    *ngIf="imageLoaded === false"
                    [ngClass]="{
                      'is-invalid':
                        userForm.get('profilePic').invalid && addUserError
                    }"
                  />
                  <img
                    *ngIf="fileUrl"
                    [src]="fileUrl"
                    class="admin-addNew-form-profile-style"
                  />
                  <br />
                  <input
                    #file
                    type="file"
                    style="display: none"
                    (change)="fileTrigger($event)"
                    accept="image/*"
                  />
                  <button
                    mat-button
                    class="admin-addNew-form-upload my-4"
                    (click)="file.click()"
                  >
                    Upload
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="row">
                  <div class="col-12 my-3">
                    <div id="new-form" class="col-12 my-2 d-flex">
                      <div class="col-6">
                        <mat-label class="admin-addNew-form-label" for="name"
                          >Enter user name</mat-label
                        >
                        <br />
                        <div class="admin-addNew-form-field" appearance="fill">
                          <input
                            class="form-control form-field-big"
                            type="text"
                            formControlName="name"
                            name="newuserName"
                            id="newuserName"
                            placeholder="Name"
                            [ngClass]="{
                              'is-invalid':
                                (addUserError ||
                                  userForm.get('name').touched) &&
                                userForm.get('name').invalid
                            }"
                          />
                          <div
                            *ngIf="
                              (addUserError || userForm.get('name').touched) &&
                              userForm.get('name').invalid
                            "
                            class="invalid-feedback"
                          >
                            <div>User Name is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 mx-2">
                        <mat-label class="admin-addNew-form-label" for="email"
                          >Enter Email ID</mat-label
                        >
                        <br />
                        <div class="admin-addNew-form-field" appearance="fill">
                          <input
                            type="email"
                            type="text"
                            name="email"
                            id="email"
                            class="form-control form-field-big"
                            required
                            formControlName="email"
                            placeholder="Email ID"
                            [ngClass]="{
                              'is-invalid':
                                (addUserError ||
                                  userForm.get('email').touched) &&
                                userForm.get('email').invalid
                            }"
                          />
                          <div
                            *ngIf="
                              (addUserError || userForm.get('email').touched) &&
                              userForm.get('email').invalid
                            "
                            class="invalid-feedback"
                          >
                            <div *ngIf="userForm.get('email').errors.required">
                              Email is required
                            </div>
                            <div *ngIf="userForm.get('email').errors.email">
                              Email must be a valid email address
                            </div>
                          </div>
                        </div>

                        <div class="col-5">
                          <mat-checkbox
                            class="admin-addNew-form-checkBox"
                            formControlName="emailAlert"
                            >Send email alerts to my email</mat-checkbox
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row d-flex">
                  <div class="select-level">Select Access Level</div>
                  <div class="col-6 d-flex" style="flex-wrap: wrap">
                    <div
                      class="d-flex mx-2"
                      *ngFor="let city of cities; let cityIndex = index"
                    >
                      <mat-form-field style="width: 140px">
                        <div class="col-8">
                          <mat-label>{{ city.name }}</mat-label>
                        </div>
                        <div
                          class="btn admin-addNew-form-permissions my-3"
                          appearance="fill"
                          [ngClass]="{
                            'is-invalid':
                              addUserError &&
                              isCitiesValid(userForm.value.cities)
                          }"
                        >
                          <mat-label></mat-label>
                          <mat-select
                            value="0"
                            class="admin-addNew-form-permissionsSelect"
                            [formControl]="
                              getCitiesControl(cityIndex, userForm)
                            "
                          >
                            <mat-option
                              [value]="permissionIndex"
                              *ngFor="
                                let permission of permissions;
                                let permissionIndex = index
                              "
                              >{{ permission.viewValue }}</mat-option
                            >
                          </mat-select>
                        </div>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-6 my-2">
                    <div class="my-2">Select Alert Category</div>
                    <div class="my-3">
                      <div class="row">
                        <div class="d-flex">
                          <mat-checkbox
                            class="admin-addNew-form-subChecks"
                            formControlName="deviceAlert"
                          >
                            Device
                          </mat-checkbox>
                          <mat-checkbox
                            class="
                              admin-addNew-form-subChecks
                              admin-addNew-form-subChecks-central
                            "
                            formControlName="centralAlert"
                          >
                            Central
                          </mat-checkbox>
                        </div>
                      </div>
                      <div class="row">
                        <div class="d-flex my-3">
                          <mat-checkbox
                            class="admin-addNew-form-subChecks"
                            formControlName="siteEquipmentAlert"
                          >
                            Site Equipment
                          </mat-checkbox>
                          <mat-checkbox
                            class="
                              admin-addNew-form-subChecks
                              admin-addNew-form-subChecks-security
                            "
                            formControlName="securityAlert"
                          >
                            Security
                          </mat-checkbox>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions class="bottom-button">
            <div class="admin-addNew-form-lastButtons admin-addnew-group">
              <button
                class="admin-addNew-form-addButton"
                type="button"
                mat-button
                (click)="onSubmit(); assignUsersCities()"
                [ngClass]="{ 'add-button-gray': userForm.pristine }"
              >
                Add
              </button>
              <button
                mat-button
                class="admin-addNew-form-cancelButton"
                (click)="AddNew = !AddNew; addUserError = false"
              >
                Cancel
              </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </form>

      <!-- View Defining and switching row. -->
      <div class="">
        <div class="d-flex admin-usersites-holder">
          <div
            type="button"
            class="
              admin-usersites-title-col-xxl-10
              col-xl-9 col-lg-8
              admin-usersites-title
            "
            *ngIf="userViewToggle"
          >
            Users
          </div>
          <div
            class="
              admin-usersites-title-col-xxl-10
              col-xl-9 col-lg-8
              admin-usersites-title
            "
            *ngIf="siteViewToggle"
          >
            Site
          </div>

          <div
            class="
              col-xxl-3 col-xl-4 col-lg-5
              d-flex
              admin-usersites-switch-holder
            "
          >
            <div class="admin-usersites-switch-text mt-2">Filter by</div>
            <div class="mx-4 admin-usersites-switch-siteUser">
              <button
                class="admin-usersites-switch-site"
                (click)="siteView()"
                [ngClass]="
                  siteViewStyle === 'true'
                    ? 'admin-usersites-siteActive'
                    : 'admin-usersites-siteNormal'
                "
              >
                Site
              </button>
              <button
                class="admin-usersites-switch-user"
                (click)="userView()"
                [ngClass]="
                  userViewStyle === 'true'
                    ? 'admin-usersites-userActive'
                    : 'admin-usersites-userNormal'
                "
              >
                User
              </button>
            </div>
          </div>
        </div>
      </div>

      <mat-card
        class="admin-addUser-Card1 add-btn col-12 d-flex my-4"
        *ngIf="!AddNew"
      >
        <button
          class="
            btn
            admin-addUser-button-medium-14-admin
            col-3
            admin-addUser-btnCenter
          "
          (click)="addNewUser(); closeUserViewEdit()"
        >
          Add new user
        </button>
      </mat-card>

      <!-- User View -->
      <div class="my-3" *ngIf="userViewToggle">
        <div *ngFor="let user of users; let userIndex = index">
          <mat-card class="admin-users-card col-12 d-flex my-3">
            <div
              class="col-12 d-flex my-2"
              (click)="
                toggle === userIndex ? (toggle = null) : (toggle = userIndex)
              "
            >
              <div class="mx-3 d-flex" style="margin-top: -5px">
                <img
                  class="admin-users-card-ppic"
                  src="{{ user.ppic }}"
                  height="56px"
                /><sup
                  ><img class="admin-users-card-active" src="{{ user.active }}"
                /></sup>
              </div>

              <div class="col-1 admin-users-card-username mx-2">
                {{ user.name }}
              </div>
              <div class="col-3 admin-users-card-email">{{ user.email }}</div>
              <div
                class="col-xxl-6 col-xl-5 mx-4 admin-users-card-cities d-flex"
              >
                <!-- <div class=""> -->
                <div
                  class="admin-users-card-city-image-container mx-1"
                  *ngFor="let city of user.cities"
                >
                  <img
                    *ngIf="city.name === 'Fremont, CA'"
                    class="admin-users-card-city-image-users"
                    src="../../assets/AdminPanel/fremont.svg"
                  />
                  <img
                    *ngIf="city.name === 'Bengaluru, IN'"
                    class="admin-users-card-city-image-users"
                    src="../../assets/AdminPanel/berlin.svg"
                  />
                  <img
                    *ngIf="city.name === 'NYC, NY'"
                    class="admin-users-card-city-image-users"
                    src="../../assets/AdminPanel/nyc.svg"
                  />
                  <img
                    *ngIf="city.name === 'Austin, TX'"
                    class="admin-users-card-city-image-users"
                    src="../../assets/AdminPanel/austin.svg"
                  />
                  <img
                    *ngIf="city.name === 'Berlin, DE'"
                    class="admin-users-card-city-image-users"
                    src="../../assets/AdminPanel/berlin.svg"
                  />
                  <div class="admin-users-card-access-text-block-users">
                    {{ permissions[city.accessLevel].viewValue }}
                  </div>
                  <span class="admin-users-card-city-text-block-users">{{
                    city.name
                  }}</span>
                </div>
                <!-- </div> -->
              </div>
              <div
                class="col-1 admin-users-card-editOption"
                (click)="toggleEdit(user.id, userIndex)"
                *ngIf="editUsers.indexOf(user.id) < 0"
              >
                <img src="../../assets/AdminPanel/pencil.svg" />
                Edit
              </div>
              <div
                class="col-1 admin-users-card-editOption-close"
                (click)="toggleEdit(user.id, userIndex)"
                *ngIf="editUsers.indexOf(user.id) >= 0"
              >
                Close
              </div>
            </div>
          </mat-card>

          <!-- Edit form panel (User-View) -->
          <form [formGroup]="editForm">
            <div *ngIf="editUsers.indexOf(user.id) >= 0">
              <mat-card class="col">
                <mat-card-content>
                  <div class="admin-addNew-form my-4 mx-2 d-flex">
                    <div class="admin-addNew-form-ppicHolder col-2 mx-3">
                      <div class="admin-addNew-form-profile mx-2 my-4">
                        <img
                          src="../../assets/AdminPanel/Rectangle 966.svg"
                          alt="profile-pic-outline"
                          *ngIf="!user.ppic"
                        />
                        <img
                          *ngIf="user.ppic"
                          [src]="user.ppic"
                          class="admin-addNew-form-profile-style"
                        />
                        <br />
                      </div>
                    </div>
                    <div class="row">
                      <div class="row">
                        <div class="col-12 my-3">
                          <div id="new-form" class="col-12 my-2 d-flex">
                            <div class="col-6">
                              <mat-label
                                class="admin-addNew-form-label"
                                for="name"
                                >Enter user name</mat-label
                              >
                              <br />
                              <div
                                class="admin-addNew-form-field"
                                appearance="fill"
                              >
                                <input
                                  class="form-control form-field-big"
                                  type="text"
                                  name="newuserName"
                                  id="newuserName"
                                  placeholder="Name"
                                  required
                                  [formControl]="
                                    getEditControl(user.form, 'name')
                                  "
                                  [ngClass]="{
                                    'is-invalid':
                                      (editUserError ||
                                        user.form.get('name').touched) &&
                                      user.form.get('name').invalid
                                  }"
                                />
                                <div
                                  *ngIf="
                                    (editUserError ||
                                      user.form.get('name').touched) &&
                                    user.form.get('name').invalid
                                  "
                                  class="invalid-feedback"
                                >
                                  <div>User Name is required</div>
                                </div>
                              </div>
                            </div>
                            <div class="col-6 mx-2">
                              <mat-label
                                class="admin-addNew-form-label"
                                for="email"
                                >Enter Email ID</mat-label
                              >
                              <br />
                              <div
                                class="admin-addNew-form-field"
                                appearance="fill"
                              >
                                <input
                                  type="email"
                                  type="text"
                                  name="email"
                                  id="email"
                                  class="form-control form-field-big"
                                  required
                                  [formControl]="
                                    getEditControl(user.form, 'email')
                                  "
                                  placeholder="Email ID"
                                  [ngClass]="{
                                    'is-invalid':
                                      user.form.get('email').touched &&
                                      user.form.get('email').invalid
                                  }"
                                />
                                <div
                                  *ngIf="
                                    user.form.get('email').touched &&
                                    user.form.get('email').invalid
                                  "
                                  class="invalid-feedback"
                                >
                                  <div
                                    *ngIf="
                                      user.form.get('email').errors.required
                                    "
                                  >
                                    Email is required
                                  </div>
                                  <div
                                    *ngIf="user.form.get('email').errors.email"
                                  >
                                    Email must be a valid email address
                                  </div>
                                </div>
                              </div>

                              <div class="col-5">
                                <mat-checkbox
                                  class="admin-addNew-form-checkBox"
                                  [formControl]="
                                    getEditControl(user.form, 'emailAlert')
                                  "
                                  >Send email alerts to my email</mat-checkbox
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row d-flex">
                        <div>Select Access Level</div>
                        <div class="col-6 d-flex" style="flex-wrap: wrap">
                          <div
                            class="d-flex mx-2"
                            *ngFor="let city of cities; let cityIndex = index"
                          >
                            <mat-form-field style="width: 140px">
                              <div class="col-8">
                                <mat-label>{{ city.name }}</mat-label>
                              </div>
                              <div
                                class="btn admin-addNew-form-permissions my-3"
                                appearance="fill"
                                [ngClass]="{
                                  'is-invalid': isCitiesValid(
                                    user.form.value.cities
                                  )
                                }"
                              >
                                <mat-label></mat-label>
                                <mat-select
                                  class="admin-addNew-form-permissionsSelect"
                                  [formControl]="
                                    getCitiesControl(cityIndex, user.form)
                                  "
                                >
                                  <mat-option
                                    [value]="permissionIndex"
                                    *ngFor="
                                      let users1 of city.users;
                                      let permission;
                                      of: permissions;
                                      let permissionIndex = index
                                    "
                                    >{{ permission.viewValue }}</mat-option
                                  >
                                </mat-select>
                              </div>
                            </mat-form-field>
                          </div>
                        </div>
                        <div *ngIf="isCitiesValid(user.form.value.cities)">
                          Access Level is required!
                        </div>
                        <div class="col-6 my-2">
                          <div class="my-2">Select Alert Category</div>
                          <div class="my-3">
                            <div class="row">
                              <div class="d-flex">
                                <mat-checkbox
                                  class="admin-addNew-form-subChecks"
                                  [formControl]="
                                    getEditControl(user.form, 'deviceAlert')
                                  "
                                >
                                  Device
                                </mat-checkbox>
                                <mat-checkbox
                                  class="
                                    admin-addNew-form-subChecks
                                    admin-addNew-form-subChecks-central
                                  "
                                  [formControl]="
                                    getEditControl(user.form, 'centralAlert')
                                  "
                                >
                                  Central
                                </mat-checkbox>
                              </div>
                            </div>
                            <div class="row">
                              <div class="d-flex my-3">
                                <mat-checkbox
                                  class="admin-addNew-form-subChecks"
                                  [formControl]="
                                    getEditControl(
                                      user.form,
                                      'siteEquipmentAlert'
                                    )
                                  "
                                >
                                  Site Equipment
                                </mat-checkbox>
                                <mat-checkbox
                                  class="
                                    admin-addNew-form-subChecks
                                    admin-addNew-form-subChecks-security
                                  "
                                  [formControl]="
                                    getEditControl(user.form, 'securityAlert')
                                  "
                                >
                                  Security
                                </mat-checkbox>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-card-content>

                <mat-card-actions class="bottom-button">
                  <div class="admin-addNew-form-lastButtons">
                    <span class="admin-addNew-form-audit" type="button">
                      <img
                        style="margin-top: -4px"
                        src="../../assets/AdminPanel/audit.svg"
                      />
                      Audit User
                    </span>
                    <span
                      class="admin-addNew-form-delete"
                      type="button"
                      (click)="openDeleteUserDialog(userIndex)"
                    >
                      <img
                        style="margin-top: -4px"
                        src="../../assets/AdminPanel/deleteicon.svg"
                      />
                      Delete
                    </span>
                    <button
                      class="admin-addNew-form-addButton"
                      mat-raised-button
                      type="submit"
                      color="primary"
                      (click)="onEdit(userIndex)"
                    >
                      Save
                    </button>
                    <button
                      mat-button
                      class="admin-addNew-form-cancelButton"
                      (click)="toggleEdit(user.id, userIndex)"
                    >
                      Cancel
                    </button>
                  </div>
                </mat-card-actions>
              </mat-card>
            </div>
          </form>
        </div>
      </div>

      <!-- siteView -->
      <div class="my-3" *ngIf="siteViewToggle">
        <mat-card
          class="col-12 admin-siteView-card d-flex my-2"
          *ngFor="let city of cities; let cityIndex = index"
        >
          <div class="col-1 mx-1 admin-users-card-cities">
            <div class="admin-users-card-city-image-container">
              <img
                *ngIf="city.id === 1"
                class="admin-users-card-city-image"
                src="../../assets/AdminPanel/fremont.svg"
              />
              <img
                *ngIf="city.id === 2"
                class="admin-users-card-city-image"
                src="../../assets/AdminPanel/berlin.svg"
              />
              <img
                *ngIf="city.id === 3"
                class="admin-users-card-city-image"
                src="../../assets/AdminPanel/nyc.svg"
              />
              <img
                *ngIf="city.id === 4"
                class="admin-users-card-city-image"
                src="../../assets/AdminPanel/austin.svg"
              />
              <img
                *ngIf="city.id === 5"
                class="admin-users-card-city-image"
                src="../../assets/AdminPanel/berlin.svg"
              />

              <span class="admin-users-card-city-text-block">{{
                city.name
              }}</span>
            </div>
          </div>
          <div
            class="vl mx-2"
            style="border-left: 1px solid #97c1ff; height: auto"
          ></div>
          <!-- <div>
              <img src="../../assets/AdminPanel/siteview-hline.svg" />
            </div> -->
          <div
            class="
              admin-siteView-card-1-userDetails-col-9 admin-siteView-userDetails
              d-flex
            "
            style="flex-wrap: wrap"
          >
            <div
              class="col-4 admin-siteView-userDetailsHolder"
              *ngFor="let user of city.users; let userIndex = index"
            >
              <!-- <div> -->
              <!-- <div class="admin-siteView-sec-2 d-flex"> -->
              <div
                class="admin-siteView-card-1 d-flex"
                [ngClass]="{
                  'admin-siteView-card-1-delete':
                    editCities.indexOf(city.id) >= 0
                }"
              >
                <div class="d-flex mx-1">
                  <img
                    class="admin-siteView-card-1-img"
                    height="46px"
                    src="{{ user.details.ppic }}"
                  />
                  <sup
                    ><img
                      class="admin-siteView-card-1-userDetails-active"
                      src="{{ user.details.active }}"
                  /></sup>
                </div>
                <div class="admin-siteView-card-1-userDetails">
                  <div class="admin-siteView-card-1-userDetails-userName">
                    {{ user.details.name
                    }}<span class="admin-siteView-access-list mx-1">{{
                      permissions[user.accessLevel].viewValue
                    }}</span>
                  </div>
                  <div class="admin-siteView-card-1-userDetails-userMail">
                    {{ user.details.email }}
                  </div>
                </div>
                <div
                  class="admin-siteView-card-1-close-red"
                  *ngIf="editCities.indexOf(city.id) >= 0"
                >
                  <img
                    (click)="openRemoveUserDialog(cityIndex, userIndex)"
                    src="../../assets/AdminPanel/siteViewEdit-del.svg"
                    height="7.69px"
                    width="7.69px"
                  />
                </div>
              </div>
              <!-- </div> -->
              <!-- </div> -->
            </div>
          </div>
          <div
            class="admin-siteView-col-1"
            [ngClass]="
              doneActive === true
                ? 'admin-siteView-doneButtonActive'
                : 'admin-siteView-doneButtonInactive'
            "
          >
            <span
              (click)="doneActive === true && closeSiteViewEdit()"
              *ngIf="editCities.indexOf(city.id) >= 0"
            >
              Done
            </span>
          </div>
          <span
            class="admin-siteView-closeButton"
            (click)="closeSiteViewEdit()"
            *ngIf="editCities.indexOf(city.id) >= 0"
          >
            Cancel
          </span>
          <div
            class="admin-siteView-editButton"
            (click)="toggleEdit1(city.id)"
            *ngIf="editCities.indexOf(city.id) < 0"
          >
            <img src="../../assets/AdminPanel/pencil.svg" /> Edit
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
