/*
 * SPDX-FileCopyrightText: 2022-present Open Networking Foundation <info@opennetworking.org>
 *
 * SPDX-License-Identifier: Apache-2.0
 */
.small-cells {
  margin-top: 40px;
  &-col-2 {
    flex: 0 0 auto;
    width: 15.666667%;
  }
  .aether-sideCol-NavCard {
    margin-left: 0 !important;
    width: auto !important;
  }
  .right-section {
    position: relative;
    padding-left: 0px;
    &-col-lg-9 {
      flex: 0 0 auto;
      width: 72%;
      @media screen and (min-width: 1300px) {
        flex: 0 0 auto;
        width: 73%;
      }
      @media screen and (min-width: 1630px) {
        flex: 0 0 auto;
        width: 74%;
      }
    }
    .sec-1 {
      max-width: 98%;
      .title-tab {
        .title-block {
          color: #000000;
          font-family: Inter;
          font-style: normal;
          font-weight: normal;
          font-size: 28px;
          line-height: 36px;
        }
      }
    }
  }

  &__physical-view {
    position: relative;
    overflow: auto;
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &__image {
      position: absolute;
      top: 0;
    }
    &__device {
      position: absolute;
      height: 40px;
      width: 40px;
      background: #0063f7;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    &__small-cell {
      position: absolute;
      height: 60px;
      width: 60px;
      border: 1px solid black;
      background: #edf4ff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    &__device-icon {
      color: white;
    }
    &__cell-icon {
      color: white;
    }
  }

  &__device-icon {
    color: white;
  }
  &__cell-icon {
    // color: white;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    min-height: 200px;
    min-width: 250px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    &__centered {
      text-align: center;
    }
    &__details {
      color: #0063f7;
      margin-top: auto;
    }
    &__site {
      color: #3c4257;
      font-weight: 600;
      &--big {
        font-size: 16px;
      }
    }
    &__small-cell {
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 86px;
      min-height: 28px;
      border-radius: 27px;
      background: #06d6a0;
      gap: 5px;
      font-size: 600;
      align-self: center;
      padding: 5px 10px;
    }
    &__device {
      font-weight: 600;
      font-size: 16px;
      color: #0063f7;
    }
  }

  &__list-container {
    max-width: 98%;
    display: grid;
    gap: 20px;
    margin-top: 20px;
    &__item {
      background: white;
      min-height: 80px;
      width: 100%;
      border-radius: 8px;
      padding: 10px 30px 10px 20px;
      &--main {
        display: flex;
        align-items: center;
        padding-top: 10px;
        min-height: 80px;
        gap: 20px;
        &--icon-container {
          width: 55px;
          height: 55px;
          border-radius: 50%;
          background: #edf4ff;
          display: flex;
          align-items: center;
          justify-content: center;
          &--icon {
            color: #0063f7;
            height: 30px;
            width: 30px;
          }
        }
        &__text-block {
          display: grid;
          gap: 5px;
          &--label {
            font-size: 12px;
            color: black;
          }
          &--text {
            font-size: 14px;
            font-weight: 500;
          }
        }
        &__chip {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 85px;
          height: 25px;
          color: white;
          font-size: 14px;
          font-weight: 500;
          background: #06d6a0;
          border-radius: 45px;
          padding: 0px 10px;
          &--alert {
            background: #ef233c;
          }
        }
        &__details {
          font-size: 14px;
          font-weight: 500;
          color: #0063f7;
          cursor: pointer;
        }
        &__close {
          color: #ef233c;
        }
      }
      &--sub {
        border-top: 1px solid #97c1ff;
        margin-top: 10px;
        padding: 30px;
        margin-inline-end: -30px;
        margin-inline-start: -20px;
        margin-bottom: -10px;
        display: grid;
        gap: 30px;
        &__graphs {
          background: #f0f3fa;
          border-radius: 6px;
          padding: 30px;
          min-height: 175px;
          display: grid;
          grid-template-columns: repeat(3, 31%);
          gap: 3%;
          &__graph-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            font-size: 14px;
            font-weight: 500;
            &--title {
              color: #3c4257;
            }
            &--increment {
              color: #06d6a0;
              justify-self: end;
              display: flex;
              align-items: center;
            }
            &--decrement {
              color: #ef233c;
              justify-self: end;
              display: flex;
              align-items: center;
            }
            &__graph {
              grid-column: 1/3;
              width: 100%;
              img {
                width: 100%;
              }
            }
          }
        }
        &__counts-container {
          display: grid;
          grid-template-columns: repeat(4, 25%);
          &__count {
            &--label {
              color: #a3a3a3;
              font-size: 12px;
            }
            &--text {
              color: #3c4257;
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
        &__connections-container {
          display: grid;
          grid-template-columns: repeat(4, 25%);
          &__connection {
            &--label {
              color: #a3a3a3;
              font-size: 12px;
            }
            &--text {
              color: #0063f7;
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
        &__actions {
          display: flex;
          gap: 50px;
          justify-content: end;
          &__decomission {
            color: #fb8500;
            font-weight: 500;
            font-size: 14px;
            cursor: pointer;
            &--permanent {
              color: #ef233c;
            }
          }
        }
      }
    }
  }
}
