.select-sim {
  &-title {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.0375em;
    color: #000000;
  }

  &-close {
    cursor: pointer;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    text-align: right;
    color: #ef233c;
    margin-left: -1rem;;
  }

  &-container {
    border: 1px solid transparent;
    border-radius: 6px;
    flex-wrap: wrap;
    width: 40rem;
    background: #F0F3FA;

    &-spacings {
      padding: 10px;
    }

    &-simHolder {
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: 4px;
      background-color: #FFFFFF;
      padding: 10px 30px 10px 10px;
    }
  }

  &-finalButtons {
    float: right;
    padding-bottom: 23px !important;

    &-cancel {
      padding: 12px 60px 12px 12px;
      border: 1px solid #0063F7;
      border-radius: 4px;
      color: #0063F7;
      background: #FFFFFF;
    }

    &-select {
      color: #FFFFFF;
      border: transparent;
      border-radius: 4px;
      padding: 13px 60px 13px 12px;
      background: #0063F7;
    }
  }
}
