.ctm-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
  margin-bottom: 10px;
}
.ctm-cols {
  width: 400px;
  padding: 0 8px;
}
.card {
  border-radius: 12px;
  // margin-bottom: 48px;
  box-shadow: none;
  width: 100%;
  @media only screen and (max-width: 600px) {
    margin-bottom: 15px;
  }
  .card-body-bx {
    .mat-grid-tile-content {
      display: block;
    }
  }
}
.card-header-bg {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  border-radius: 12px 12px 0 0 !important;
  h3 {
    margin-bottom: 0;
    color: #fff;
  }
  .alert-bx {
    padding: 5px 10px;
    background: red;
    color: #fff;
    border-radius: 40px;
    min-width: 100px;
    text-align: center;
  }
  .success-bx {
    padding: 5px 10px;
    background: #06d6a0;
    color: #fff;
    border-radius: 40px;
    min-width: 100px;
    text-align: center;
  }
}
.card-body-bx {
  position: relative;
  .check-box-container {
    position: absolute;
    right: 10px;
    bottom: 10px;
    .material-icons {
      font-size: 14px;
    }
  }
}
.service-bx {
  display: flex;
  margin-bottom: 8px;
  .card-icon {
    margin-right: 5px;
    background: #edf4ff;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    .material-icons {
      font-size: 14px;
    }
  }
  .card-category {
    display: flex;
    align-items: center;
    p {
      margin-bottom: 0;
      font-size: 14px;
      span {
        font-style: italic;
        color: #d3d3d3;
        display: block;
        font-size: 11px;
      }
    }
  }
}

.card-selected {
  border: 2px solid #0063f7;
  box-shadow: 4px 8px 10px rgba(41, 44, 52, 0.2);
}
.card-stats {
  &:hover {
    box-shadow: 4px 8px 10px rgba(41, 44, 52, 0.2);
    cursor: pointer;
  }
}
