<!-- <p>navbar works!</p> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light aether-bgColor">
  <div class="container-fluid aether-bgColor">
    <!-- <div class="col-1 aether-bgColor">empty</div> -->
    <div class="col-5 d-flex">
      <a class="aether-title aether-bgColor" href="#"
        >Aether 5G
        <sup class="aether-bgColor"
          ><sup
            ><sup>
              <img src="../../assets/Navbar/spinner-alt.svg" />
            </sup>
          </sup> </sup
      ></a>
    </div>

    <div class="d-flex" style="margin-left: auto">
      <div
        class="nav-item aether-bgColor"
        [ngClass]="{ 'aether-dropdown-alignment': trigger }"
      >
        <img
          class="aether-bgColor aether-companyTitle"
          src="../../assets/Navbar/tesla-big.svg"
          [matMenuTriggerFor]="CompanyMenu"
          [ngClass]="{
            'aether-companyTitle-Alignment': trigger,
            'mr2-5-only': !trigger
          }"
        />
      </div>
      <div class="">
        <form
          class="d-flex aether-SearchBox-Alignment aether-SearchBox-bgColor"
          *ngIf="trigger"
        >
          <img
            class="ml1-only aether-SearchBox-bgColor"
            src="../../assets/Navbar/search-in-box.svg"
          />
          <input
            class="
              form-control
              me-2
              aether-SearchBox aether-SearchBox-bgColor
              pb-2
            "
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
          <img
            class="mx-3 aether-SearchBox-bgColor"
            src="../../assets/Navbar/search-close.svg"
            (click)="trigger = !trigger"
          />
        </form>
      </div>

      <div>
        <div class="mx-auto aether-bgColor" (click)="trigger = !trigger">
          <img
            src="../../assets/Navbar/search.svg"
            class="aether-navbar-bg-color"
            [ngClass]="{ 'ml2-only': !trigger }"
            *ngIf="!trigger"
          />
        </div>
      </div>
    </div>
    <div class="ml-only d-flex col-2">
      <div class="my-auto" *ngIf="alert === 'berlin'">
        <img src="../../assets/Navbar/notifications.svg" />
      </div>
      <div
        class="my-auto"
        *ngIf="alert !== 'berlin'"
        (click)="goToSmallCells()"
      >
        <img src="../../assets/Navbar/notifications.svg" /><sup
          ><sup
            ><sup
              ><sup
                ><img
                  src="../../assets/Navbar/notification-alert-dot.svg"
                  style="margin-left: -6px" /></sup></sup></sup
        ></sup>
      </div>
      <div class="mx-auto my-auto">
        <img src="../../assets/Navbar/profile-pic.svg" />
      </div>
      <div class="">
        <button
          *ngIf="router.url === '/'"
          class="btn btn-primary"
          [matMenuTriggerFor]="ControlsMenu"
        >
          Controls
        </button>
        <button
          *ngIf="router.url !== '/'"
          class="btn btn-primary"
          routerLink="/"
        >
          Dashboard
        </button>
        <!-- <button class="btn btn-primary" (click)="controlMenuTrigger = !controlMenuTrigger">Controls</button> -->
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</nav>

<!-- Controls Menu -->
<mat-menu
  class="
    sideNavbar_navCard-triangle
    aether-ControlsMenu aether-ControlsMenu_navCard
    p-2
  "
  #ControlsMenu="matMenu"
  xPosition="before"
>
  <div class=""></div>
  <mat-card-header>
    <mat-card-title class="sideNavbar_navCard_headings">ONBOARD</mat-card-title>
  </mat-card-header>
  <img
    class="admin-sideCol-navCard-controlLine"
    src="../../assets/CommonAssets/ControlMenuLine.svg"
  />
  <div class="" routerLink="/admin">
    <div
      class="d-flex"
      [ngClass]="{
        sideNavbar_optionStyling_active:
          menuIcons.admin.adminString === menuIcons.admin.adminActive,
        sideNavbar_optionStyling_inactive:
          menuIcons.admin.adminString === menuIcons.admin.adminInactive
      }"
      (mouseover)="menuIcons.admin.adminString = menuIcons.admin.adminActive"
      (mouseout)="menuIcons.admin.adminString = menuIcons.admin.adminInactive"
    >
      <div>
        <span
          class="sideNavbar_iconbg_inactive mx-1"
          [ngStyle]="{
            'background-color':
              menuIcons.admin.adminString === menuIcons.admin.adminActive
                ? '#0063F7'
                : '#EDF4FF'
          }"
        >
          <img [src]="menuIcons.admin.adminString" height="12px" width="12px" />
        </span>
      </div>
      <div
        class="admin-sideCol-navCard-subHeading mx-2"
        [ngClass]="{
          sideNavbar_text_active:
            menuIcons.admin.adminString === menuIcons.admin.adminActive
        }"
      >
        Admin
      </div>
    </div>
  </div>
  <div class="my-2" routerLink="/device-sim">
    <div
      class="d-flex"
      [ngClass]="{
        sideNavbar_optionStyling_active:
          menuIcons.devices.devicesString === menuIcons.devices.devicesActive,
        sideNavbar_optionStyling_inactive:
          menuIcons.devices.devicesString === menuIcons.devices.devicesInactive
      }"
      (mouseover)="
        menuIcons.devices.devicesString = menuIcons.devices.devicesActive
      "
      (mouseout)="
        menuIcons.devices.devicesString = menuIcons.devices.devicesInactive
      "
    >
      <div>
        <span
          class="sideNavbar_iconbg_inactive mx-1"
          [ngStyle]="{
            'background-color':
              menuIcons.devices.devicesString ===
              menuIcons.devices.devicesActive
                ? '#0063F7'
                : '#EDF4FF'
          }"
        >
          <img
            [src]="menuIcons.devices.devicesString"
            height="12px"
            width="12px"
          />
        </span>
      </div>
      <div
        class="admin-sideCol-navCard-subHeading mx-2"
        [ngClass]="{
          sideNavbar_text_active:
            menuIcons.devices.devicesString === menuIcons.devices.devicesActive
        }"
      >
        Devices / Sim
      </div>
    </div>
  </div>
  <div class="mb-3" routerLink="/services">
    <div
      class="d-flex"
      [ngClass]="{
        sideNavbar_optionStyling_active:
          menuIcons.services.servicesString ===
          menuIcons.services.servicesActive,
        sideNavbar_optionStyling_inactive:
          menuIcons.services.servicesString ===
          menuIcons.services.servicesInactive
      }"
      (mouseover)="
        menuIcons.services.servicesString = menuIcons.services.servicesActive
      "
      (mouseout)="
        menuIcons.services.servicesString = menuIcons.services.servicesInactive
      "
    >
      <div>
        <span
          class="sideNavbar_iconbg_inactive mx-1"
          [ngStyle]="{
            'background-color':
              menuIcons.services.servicesString ===
              menuIcons.services.servicesActive
                ? '#0063F7'
                : '#EDF4FF'
          }"
        >
          <img
            [src]="menuIcons.services.servicesString"
            height="12px"
            width="12px"
          />
        </span>
      </div>
      <div
        class="admin-sideCol-navCard-subHeading mx-2"
        [ngClass]="{
          sideNavbar_text_active:
            menuIcons.services.servicesString ===
            menuIcons.services.servicesActive
        }"
      >
        Services
      </div>
    </div>
  </div>
  <mat-card-header>
    <mat-card-title class="sideNavbar_navCard_headings"
      >CONFIGURE</mat-card-title
    >
  </mat-card-header>
  <img
    class="admin-sideCol-navCard-controlLine"
    src="../../assets/CommonAssets/ControlMenuLine.svg"
  />
  <div class="">
    <div
      class="d-flex"
      [ngClass]="{
        sideNavbar_optionStyling_active:
          menuIcons.smallCells.smallCellsString ===
          menuIcons.smallCells.smallCellsActive,
        sideNavbar_optionStyling_inactive:
          menuIcons.smallCells.smallCellsString ===
          menuIcons.smallCells.smallCellsInactive
      }"
      (mouseover)="
        menuIcons.smallCells.smallCellsString =
          menuIcons.smallCells.smallCellsActive
      "
      (mouseout)="
        menuIcons.smallCells.smallCellsString =
          menuIcons.smallCells.smallCellsInactive
      "
    >
      <div>
        <span
          class="sideNavbar_iconbg_inactive mx-1"
          [ngStyle]="{
            'background-color':
              menuIcons.smallCells.smallCellsString ===
              menuIcons.smallCells.smallCellsActive
                ? '#0063F7'
                : '#EDF4FF'
          }"
        >
          <img
            [src]="menuIcons.smallCells.smallCellsString"
            height="12px"
            width="12px"
          />
        </span>
      </div>
      <div
        class="admin-sideCol-navCard-subHeading mx-2"
        [ngClass]="{
          sideNavbar_text_active:
            menuIcons.smallCells.smallCellsString ===
            menuIcons.smallCells.smallCellsActive
        }"
      >
        Small Cells
      </div>
    </div>
  </div>
  <div class="my-2" routerLink="/device-groups">
    <div
      class="d-flex"
      [ngClass]="{
        sideNavbar_optionStyling_active:
          menuIcons.deviceGroups.deviceGroupsString ===
          menuIcons.deviceGroups.deviceGroupsActive,
        sideNavbar_optionStyling_inactive:
          menuIcons.deviceGroups.deviceGroupsString ===
          menuIcons.deviceGroups.deviceGroupsInactive
      }"
      (mouseover)="
        menuIcons.deviceGroups.deviceGroupsString =
          menuIcons.deviceGroups.deviceGroupsActive
      "
      (mouseout)="
        menuIcons.deviceGroups.deviceGroupsString =
          menuIcons.deviceGroups.deviceGroupsInactive
      "
    >
      <div>
        <span
          class="sideNavbar_iconbg_inactive mx-1"
          [ngStyle]="{
            'background-color':
              menuIcons.deviceGroups.deviceGroupsString ===
              menuIcons.deviceGroups.deviceGroupsActive
                ? '#0063F7'
                : '#EDF4FF'
          }"
        >
          <img
            [src]="menuIcons.deviceGroups.deviceGroupsString"
            height="12px"
            width="12px"
          />
        </span>
      </div>
      <div
        class="admin-sideCol-navCard-subHeading mx-2"
        [ngClass]="{
          sideNavbar_text_active:
            menuIcons.deviceGroups.deviceGroupsString ===
            menuIcons.deviceGroups.deviceGroupsActive
        }"
      >
        Device Groups
      </div>
    </div>
  </div>
  <div class="mb-3" routerLink="/slices">
    <div
      class="d-flex"
      [ngClass]="{
        sideNavbar_optionStyling_active:
          menuIcons.slices.slicesString === menuIcons.slices.slicesActive,
        sideNavbar_optionStyling_inactive:
          menuIcons.slices.slicesString === menuIcons.slices.slicesInactive
      }"
      (mouseover)="
        menuIcons.slices.slicesString = menuIcons.slices.slicesActive
      "
      (mouseout)="
        menuIcons.slices.slicesString = menuIcons.slices.slicesInactive
      "
    >
      <div>
        <span
          class="sideNavbar_iconbg_inactive mx-1"
          [ngStyle]="{
            'background-color':
              menuIcons.slices.slicesString === menuIcons.slices.slicesActive
                ? '#0063F7'
                : '#EDF4FF'
          }"
        >
          <img
            [src]="menuIcons.slices.slicesString"
            height="12px"
            width="12px"
          />
        </span>
      </div>
      <div
        class="admin-sideCol-navCard-subHeading mx-2"
        [ngClass]="{
          sideNavbar_text_active:
            menuIcons.slices.slicesString === menuIcons.slices.slicesActive
        }"
      >
        Slices
      </div>
    </div>
  </div>
  <mat-card-header>
    <mat-card-title class="sideNavbar_navCard_headings">REPORTS</mat-card-title>
  </mat-card-header>
  <img
    class="admin-sideCol-navCard-controlLine"
    src="../../assets/CommonAssets/ControlMenuLine.svg"
  />
  <div>
    <div
      class="d-flex"
      [ngClass]="{
        sideNavbar_optionStyling_active:
          menuIcons.audit.auditString === menuIcons.audit.auditActive ||
          url === '/sidenavbar',
        sideNavbar_optionStyling_inactive:
          menuIcons.audit.auditString === menuIcons.audit.auditInactive
      }"
      (mouseover)="menuIcons.audit.auditString = menuIcons.audit.auditActive"
      (mouseout)="menuIcons.audit.auditString = menuIcons.audit.auditInactive"
    >
      <div class="">
        <span
          class="sideNavbar_iconbg_inactive mx-1"
          [ngStyle]="{
            'background-color':
              menuIcons.audit.auditString === menuIcons.audit.auditActive ||
              url === '/sidenavbar'
                ? '#0063F7'
                : '#EDF4FF'
          }"
        >
          <img
            [src]="
              url === '/sidenavbar'
                ? menuIcons.audit.auditActive
                : menuIcons.audit.auditString
            "
            height="12px"
            width="12px"
          />
        </span>
      </div>
      <div
        class="admin-sideCol-navCard-subHeading sideNavbar_text_active mx-2"
        [ngClass]="{
          sideNavbar_text_active:
            menuIcons.audit.auditString === menuIcons.audit.auditActive
        }"
      >
        Audit
      </div>
    </div>
  </div>
</mat-menu>

<!-- Company Menu -->
<mat-menu class="aether-CompanyMenu" #CompanyMenu="matMenu" xPosition="before">
  <button mat-menu-item>
    <!-- <mat-icon>developer_board</mat-icon> -->
    <img src="assets/Navbar/devices.svg" />

    <span>{{ devices }} Devices</span>
  </button>
  <button mat-menu-item>
    <span class="aether-CompanyMenu-UnprovisionedDevices"
      >{{ unprovisionedDevices }} Unprovisioned</span
    >
  </button>
  <button mat-menu-item>
    <!-- <mat-icon>filter_none</mat-icon> -->
    <img src="assets/AdminPanel/slices.svg" />
    <span>{{ Slices }} Slices</span>
  </button>
  <button mat-menu-item>
    <!-- <mat-icon>layers</mat-icon> -->
    <img src="assets/AdminPanel/service.svg" />
    <span>{{ Layers }} Services</span>
  </button>
  <button mat-menu-item>
    <!-- <mat-icon>layers</mat-icon> -->
    <img src="assets/Navbar/sites.svg" />

    <span>{{ Sites }} Sites</span>
  </button>
  <button mat-menu-item>
    <!-- <mat-icon>wifi_tethering</mat-icon> -->
    <img src="assets/AdminPanel/sensor.svg" />
    <span>{{ SmallCells }} Small Cells</span>
  </button>
</mat-menu>
