<!--
~ SPDX-FileCopyrightText: 2022-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: Apache-2.0
-->
<aep-navbar #navbar></aep-navbar>

<div class="main-content">
  <div class="bg-gray">
    <div class="container-fluid ctm-container">
      <aep-sites (informParent)="parentWillTakeAction($event)"></aep-sites>
    </div>
  </div>
  <div class="container-fluid ctm-container bottom_bx">
    <div class="row">
      <div class="col-md-4 col-sm-6" (click)="openDialog()">
        <div class="card card-chart">
          <div class="card-body p-0 d-grid">
            <div class="row">
              <div class="col-lg-6">
                <div class="chart-bx-left py-1 px-2">
                  <h4 class="chart-bx-h">All Slices</h4>
                  <div class="percentage-indicator">
                    <p>64%</p>
                  </div>
                  <p class="compare-detail">Throughput</p>
                  <p class="compare-detail">
                    Bandwidth Available: <strong>10 Gbps</strong>
                  </p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="graph-img-bx">
                  <img src="assets/AdminPanel/graph.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6" (click)="openDialog()">
        <div class="card card-chart">
          <div class="card-body p-0 d-grid">
            <div class="row">
              <div class="col-lg-6">
                <div class="chart-bx-left py-1 px-2">
                  <h4 class="chart-bx-h">All Slices</h4>
                  <div class="percentage-indicator">
                    <p>
                      0.05%
                      <span class="text-success"
                        ><img src="assets/AdminPanel/traingle.svg" /> 10%
                      </span>
                    </p>
                  </div>
                  <p class="compare-detail">Packet Loss</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="graph-img-bx">
                  <img src="assets/AdminPanel/graph.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card card-chart">
          <div class="card-body p-10">
            <div class="row">
              <div class="col-lg-12">
                <div class="chart-bx-left py-1 px-2">
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <h4 class="highlights-txt">Highlights</h4>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="highlighted-counting" *ngIf="siteId !== 0">
                        <div class="card-icon">
                          <img src="assets/AdminPanel/red-alert.svg" />
                        </div>
                        <div
                          class="card-category"
                          (click)="showAcknowledgedView(siteId)"
                        >
                          <p class="">{{ siteId }} Alerts</p>
                        </div>
                      </div>
                      <div class="highlighted-counting" *ngIf="siteId === 0">
                        <div class="card-icon">
                          <img src="assets/AdminPanel/alert.svg" />
                        </div>
                        <div class="card-category">
                          <p class="no-highlights">0 Alerts</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="compare-detail mb-0" *ngIf="siteId !== 0">
                    {{ siteId / 2 }} anamoulous behaviours detected
                  </p>
                  <p class="compare-detail" *ngIf="siteId !== 0">
                    {{ siteId / 2 }} devices blocked from accessing apps
                  </p>
                  <p class="compare-detail mb-0" *ngIf="siteId === 0">
                    0 anamoulous behaviours detected
                  </p>
                  <p class="compare-detail" *ngIf="siteId === 0">
                    0 devices blocked from accessing apps
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-{{ isAcknowledged }}">
        <div class="site-visite-bx">
          <div class="section-h">
            <h4>
              Site View
              <span>
                <a class="disable-expand" *ngIf="isAcknowledged === 8"
                  >Expand All</a
                >
                <a
                  *ngIf="isExpand && isAcknowledged !== 8"
                  (click)="parentWillTakeForExpand()"
                  >Expand All</a
                >
                <a
                  *ngIf="!isExpand && isAcknowledged !== 8"
                  (click)="parentWillTakeForExpand()"
                  >Collapse</a
                >
              </span>
            </h4>
          </div>
          <div *ngIf="viewType === 'Physical'">
            <mat-button-toggle-group
              [(ngModel)]="selectedPlan"
              name="fontStyle"
              aria-label="Font Style"
              class="section-group-btn"
            >
              <mat-button-toggle
                *ngFor="
                  let plan of config?.['site-plan-list'];
                  let planIndex = index
                "
                [value]="planIndex"
                (click)="slices.selectedPlan = planIndex"
              >
                {{ plan.id }}
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="section-tabs">
            <mat-button-toggle-group
              name="fontStyle"
              aria-label="Font Style"
              class="section-group-btn"
              [(ngModel)]="viewType"
            >
              <mat-button-toggle
                value="Logical"
                (click)="getSlices(); slices.viewType = 'Logical'"
                >Logical</mat-button-toggle
              >
              <mat-button-toggle
                *ngIf="config === null"
                [disabled]="config === null"
                value="Physical"
                class="border-none"
                >Physical</mat-button-toggle
              >
              <mat-button-toggle
                *ngIf="config !== null"
                [disabled]="config === null"
                (click)="slices.viewType = 'Physical'"
                value="Physical"
                class="border-none"
                >Physical</mat-button-toggle
              >
            </mat-button-toggle-group>
          </div>
        </div>
      </div>
      <div *ngIf="isAcknowledged === 8" class="col-lg-4">
        <div class="site-visite-bx">
          <div class="section-h">
            <h4>Notification</h4>
          </div>
          <div class="section-tabs section_close">
            <p (click)="hideAcknowledgedView()">Close</p>
          </div>
        </div>
      </div>
      <aep-slices
        #slices
        (informParent)="parentWillTakeActionSlice($event)"
      ></aep-slices>
    </div>
  </div>
</div>
