<div class="main-content">
  <div class="container-fluid ctm-container">
    <div class="row ctm-row">
      <div
        class="col-xl-3 col-lg-5 col-md-6 col-sm-7"
        *ngFor="let data of alerts"
      >
        <div
          class="card card-stats"
          (click)="onSelectCard(data.id)"
          [ngClass]="{ 'card-selected mat-elevation-z4': selected === data.id }"
        >
          <div
            class="
              card-header card-header-warning card-header-icon card-header-bg
            "
            style="background-image: url('card-header-bg.png')"
          >
            <h3 class="card-title">{{ data.title }}</h3>
            <div *ngIf="data.status === 1" class="alert-bx">ALERT</div>
            <div *ngIf="data.status === 0" class="success-bx">HEALTHY</div>
          </div>
          <div class="card-body card-body-bx">
            <div class="row">
              <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="service-bx">
                  <div class="card-icon">
                    <img src="assets/AdminPanel/device.svg" />
                  </div>
                  <div class="card-category">
                    <p class="">
                      {{ data.devices }} Devices
                      <span>10 Unprovisioned</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="service-bx">
                  <div class="card-icon">
                    <img src="assets/AdminPanel/slices.svg" />
                  </div>
                  <div class="card-category">
                    <p class="">{{ data.slices }} Slices</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="service-bx">
                  <div class="card-icon">
                    <img src="assets/AdminPanel/service.svg" />
                  </div>
                  <div class="card-category">
                    <p class="">{{ data.services }} Services</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="service-bx">
                  <div class="card-icon">
                    <img
                      *ngIf="data.status === 1"
                      src="assets/AdminPanel/red-alert.svg"
                    />
                    <img
                      *ngIf="data.status === 0"
                      src="assets/AdminPanel/alert.svg"
                    />
                  </div>
                  <div class="card-category">
                    <p class="">{{ data.alerts }} Alerts</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="check-box-container">
              <img
                *ngIf="selected !== data.id"
                src="assets/AdminPanel/select.svg"
              />
              <img
                *ngIf="selected === data.id"
                src="assets/AdminPanel/selected-card.svg"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="card card-chart">
          <div class="card-body p-0 d-grid">
            <div class="row">
              <div class="col-lg-6">
                <div class="chart-bx-left py-1 px-2">
                  <h4 class="chart-bx-h">All Slices</h4>
                  <div class="percentage-indicator">
                    <p>
                      80%
                      <span class="text-success"
                        ><img src="assets/AdminPanel/traingle.svg" /> 10%
                      </span>
                    </p>
                  </div>
                  <p class="compare-detail">
                    Bandwidth compared to 85% last hour
                  </p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="graph-img-bx">
                  <img src="assets/AdminPanel/graph.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card card-chart">
          <div class="card-body p-0 d-grid">
            <div class="row">
              <div class="col-lg-6">
                <div class="chart-bx-left py-1 px-2">
                  <h4 class="chart-bx-h">All Slices</h4>
                  <div class="percentage-indicator">
                    <p>
                      80%
                      <span class="text-success"
                        ><img src="assets/AdminPanel/traingle.svg" /> 10%
                      </span>
                    </p>
                  </div>
                  <p class="compare-detail">
                    Bandwidth compared to 85% last hour
                  </p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="graph-img-bx">
                  <img src="assets/AdminPanel/graph.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card card-chart">
          <div class="card-body p-10">
            <div class="row">
              <div class="col-lg-12">
                <div class="chart-bx-left py-1 px-2">
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <h4 class="highlights-txt">Highlights</h4>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="highlighted-counting">
                        <div class="card-icon">
                          <img src="assets/AdminPanel/red-alert.svg" />
                        </div>
                        <div class="card-category">
                          <p class="">5 Alerts</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="compare-detail mb-0">
                    B16 anamoulous behaviours detected
                  </p>
                  <p class="compare-detail">
                    26 devices blocked from accessing apps
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="site-visite-bx">
          <div class="section-h">
            <h4>
              Site View
              <span>
                <a *ngIf="!panelOpenState" (click)="accordion.openAll()"
                  >Expand All</a
                >
                <a *ngIf="panelOpenState" (click)="accordion.closeAll()"
                  >Collapse</a
                >
              </span>
            </h4>
          </div>
          <div class="section-tabs">
            <mat-button-toggle-group
              name="fontStyle"
              aria-label="Font Style"
              value="Logical"
              class="section-group-btn"
            >
              <mat-button-toggle value="Logical">Logical</mat-button-toggle>
              <mat-button-toggle value="Physical" class="border-none"
                >Physical</mat-button-toggle
              >
            </mat-button-toggle-group>
          </div>
        </div>

        <mat-accordion
          class="example-headers-align"
          hideToggle="true"
          #accordion="matAccordion"
          [multi]="false"
        >
          <mat-expansion-panel
            *ngFor="let value of alertData.data"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
            hideToggle="true"
            #mapanel="matExpansionPanel"
          >
            <mat-expansion-panel-header class="pannel-header-bx">
              <div class="left-icon">
                <img src="assets/AdminPanel/union.svg" />
              </div>
              <div class="right-icon">
                <img
                  src="assets/AdminPanel/plush-blue.svg"
                  (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false"
                  (click)="moveUp($event)"
                />
              </div>
              <div class="right-bx-shadow"></div>
              <div class="row expansion-header-row">
                <div class="col-xl-3 col-lg-12">
                  <mat-panel-title
                    class="accordion-left-bx"
                    (click)="$event.stopPropagation()"
                  >
                    6 Device Groups | 60 Devices
                    <button mat-raised-button class="conected-devices-bx">
                      <div class="card-icon">
                        <img src="assets/AdminPanel/connected.svg" />
                      </div>
                      Connected Devices
                      <div class="red-ellipse">
                        <img src="assets/AdminPanel/Ellipse-red.svg" />
                      </div>
                    </button>
                  </mat-panel-title>
                </div>
                <div class="col-xl-6 col-lg-12">
                  <mat-panel-description (click)="$event.stopPropagation()">
                    <mat-card class="graph-detail-bx">
                      <mat-card-header class="graph-header">
                        <div class="graph-detail-h">
                          <div class="card-icon">
                            <img src="assets/AdminPanel/stack.svg" />
                          </div>
                          <h3>Mission Critical Slice</h3>
                        </div>
                        <div
                          class="graph-alert-h"
                          [ngClass]="
                            value.status === '1' ? 'text-red' : 'text-blue'
                          "
                        >
                          <div class="card-icon">
                            <img
                              *ngIf="value.status === 1"
                              src="assets/AdminPanel/red-alert.svg"
                            />
                            <img
                              *ngIf="value.status === 0"
                              src="assets/AdminPanel/danger.svg"
                            />
                          </div>
                          <span>5 Alerts</span>
                        </div>
                        <div class="graph-detail-filter">
                          <nav>
                            <div
                              class="nav nav-tabs"
                              id="nav-tab"
                              role="tablist"
                            >
                              <button
                                class="nav-link active"
                                id="nav-home-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#nav-home"
                                type="button"
                                role="tab"
                                aria-controls="nav-home"
                                aria-selected="true"
                              >
                                1H
                              </button>
                              <button
                                class="nav-link"
                                id="nav-profile-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#nav-home"
                                type="button"
                                role="tab"
                                aria-controls="nav-profile"
                                aria-selected="false"
                              >
                                1D
                              </button>
                              <button
                                class="nav-link"
                                id="nav-contact-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#nav-home"
                                type="button"
                                role="tab"
                                aria-controls="nav-contact"
                                aria-selected="false"
                              >
                                1M
                              </button>
                              <button
                                class="nav-link"
                                id="nav-contact-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#nav-home"
                                type="button"
                                role="tab"
                                aria-controls="nav-contact"
                                aria-selected="false"
                              >
                                1Y
                              </button>
                            </div>
                          </nav>
                        </div>
                      </mat-card-header>

                      <mat-card-content class="graph-content-bx">
                        <div class="tab-content" id="nav-tabContent">
                          <div
                            class="tab-pane fade show active"
                            id="nav-home"
                            role="tabpanel"
                            aria-labelledby="nav-home-tab"
                          >
                            <div class="main-accordion-graph">
                              <div class="accordion-graph-bx">
                                <div class="graph-detail">
                                  <div class="graph-name">Bandwidth</div>
                                  <div class="graph-increment">
                                    <img
                                      src="assets/AdminPanel/polygon.svg"
                                    />10%
                                  </div>
                                </div>
                                <div class="graph-img-bx">
                                  <img
                                    src="assets/AdminPanel/graph-white.svg"
                                    class="img-fluid"
                                  />
                                </div>
                              </div>
                              <div class="accordion-graph-bx">
                                <div class="graph-detail">
                                  <div class="graph-name">Latency</div>
                                  <div class="graph-increment">
                                    <img
                                      src="assets/AdminPanel/polygon.svg"
                                    />10%
                                  </div>
                                </div>
                                <div class="graph-img-bx">
                                  <img
                                    src="assets/AdminPanel/graph-white.svg"
                                    class="img-fluid"
                                  />
                                </div>
                              </div>
                              <div class="accordion-graph-bx">
                                <div class="graph-detail">
                                  <div class="graph-name">Packet Loss</div>
                                  <div class="graph-increment">
                                    <img
                                      src="assets/AdminPanel/polygon.svg"
                                    />10%
                                  </div>
                                </div>
                                <div class="graph-img-bx">
                                  <img
                                    src="assets/AdminPanel/graph-white.svg"
                                    class="img-fluid"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="tab-pane fade"
                            id="nav-profile"
                            role="tabpanel"
                            aria-labelledby="nav-profile-tab"
                          >
                            .2.
                          </div>
                          <div
                            class="tab-pane fade"
                            id="nav-contact"
                            role="tabpanel"
                            aria-labelledby="nav-contact-tab"
                          >
                            .3.
                          </div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </mat-panel-description>
                </div>
                <div class="col-xl-3 col-lg-12">
                  <div
                    class="accordion-right-bx"
                    (click)="$event.stopPropagation()"
                  >
                    6 Device Groups | 60 Devices
                    <button mat-raised-button class="conected-devices-bx">
                      <div class="card-icon">
                        <img src="assets/AdminPanel/service.svg" />
                      </div>
                      Connected Devices
                      <div class="red-ellipse">
                        <img src="assets/AdminPanel/Ellipse-red.svg" />
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </mat-expansion-panel-header>

            <mat-action-row>
              <!-- <button mat-flat-button (click)="mapanel.close()">Click to close</button> -->
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
