<!--
~ SPDX-FileCopyrightText: 2022-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: Apache-2.0
-->
<aep-navbar #navbar></aep-navbar>

<div class="main-content">
  <div class="bg-gray">
    <div class="container-fluid ctm-container">
      <aep-sites (informParent)="parentWillTakeAction($event)"></aep-sites>
    </div>
  </div>
  <div class="container-fluid ctm-container bottom_bx">
    <div class="row">
      <div class="col-md-4 col-sm-6" (click)="openDialog()">
        <div class="card card-chart">
          <div class="card-body p-0 d-grid">
            <div class="row">
              <div class="col-lg-6">
                <div class="chart-bx-left py-1 px-2">
                  <h4 class="chart-bx-h">All Slices</h4>
                  <div class="percentage-indicator">
                    <p>
                      80%
                      <span class="text-success"
                        ><img src="assets/AdminPanel/traingle.svg" /> 10%
                      </span>
                    </p>
                  </div>
                  <p class="compare-detail">
                    Bandwidth compared to 85% last hour
                  </p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="graph-img-bx">
                  <img src="assets/AdminPanel/graph.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6" (click)="openDialog()">
        <div class="card card-chart">
          <div class="card-body p-0 d-grid">
            <div class="row">
              <div class="col-lg-6">
                <div class="chart-bx-left py-1 px-2">
                  <h4 class="chart-bx-h">All Slices</h4>
                  <div class="percentage-indicator">
                    <p>
                      80%
                      <span class="text-success"
                        ><img src="assets/AdminPanel/traingle.svg" /> 10%
                      </span>
                    </p>
                  </div>
                  <p class="compare-detail">
                    Bandwidth compared to 85% last hour
                  </p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="graph-img-bx">
                  <img src="assets/AdminPanel/graph.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card card-chart">
          <div class="card-body p-10">
            <div class="row">
              <div class="col-lg-12">
                <div class="chart-bx-left py-1 px-2">
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <h4 class="highlights-txt">Highlights</h4>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="highlighted-counting" *ngIf="siteId !== 0">
                        <div class="card-icon">
                          <img src="assets/AdminPanel/red-alert.svg" />
                        </div>
                        <div
                          class="card-category"
                          (click)="showAcknowledgedView(siteId)"
                        >
                          <p class="">{{ siteId }} Alerts</p>
                        </div>
                      </div>
                      <div class="highlighted-counting" *ngIf="siteId === 0">
                        <div class="card-icon">
                          <img src="assets/AdminPanel/alert.svg" />
                        </div>
                        <div class="card-category">
                          <p class="no-highlights">0 Alerts</p>
                        </div>
                      </div>
                      <!-- <div
                        class="highlighted-counting"
                        *ngIf="siteId === 'berlin'"
                      >
                        <div class="card-icon">
                          <img src="assets/AdminPanel/alert.svg" />
                        </div>
                        <div class="card-category">
                          <p class="no-highlights">0 Alerts</p>
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <p class="compare-detail mb-0" *ngIf="siteId !== 0">
                    {{ siteId / 2 }} anamoulous behaviours detected
                  </p>
                  <p class="compare-detail" *ngIf="siteId !== 0">
                    {{ siteId / 2 }} devices blocked from accessing apps
                  </p>
                  <p class="compare-detail mb-0" *ngIf="siteId === 0">
                    0 anamoulous behaviours detected
                  </p>
                  <p class="compare-detail" *ngIf="siteId === 0">
                    0 devices blocked from accessing apps
                  </p>
                  <!-- <p class="compare-detail mb-0" *ngIf="siteId === 'berlin'">
                    0 anamoulous behaviours detected
                  </p>
                  <p class="compare-detail" *ngIf="siteId === 'berlin'">
                    0 devices blocked from accessing apps
                  </p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-{{ isAcknowledged }}">
        <div class="site-visite-bx">
          <div class="section-h">
            <h4>
              Site View
              <span>
                <a class="disable-expand" *ngIf="isAcknowledged === 8"
                  >Expand All</a
                >
                <a
                  *ngIf="isExpand && isAcknowledged !== 8"
                  (click)="parentWillTakeForExpand()"
                  >Expand All</a
                >
                <a
                  *ngIf="!isExpand && isAcknowledged !== 8"
                  (click)="parentWillTakeForExpand()"
                  >Collapse</a
                >
              </span>
            </h4>
          </div>
          <div *ngIf="viewType === 'Physical'">
            <mat-button-toggle-group
              [(ngModel)]="selectedPlan"
              name="fontStyle"
              aria-label="Font Style"
              class="section-group-btn"
            >
              <mat-button-toggle
                *ngFor="
                  let plan of config?.['site-plan-list'];
                  let planIndex = index
                "
                [value]="planIndex"
                (click)="slices.selectedPlan = planIndex"
              >
                {{ plan.id }}
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="section-tabs">
            <mat-button-toggle-group
              name="fontStyle"
              aria-label="Font Style"
              class="section-group-btn"
              [(ngModel)]="viewType"
            >
              <mat-button-toggle
                value="Logical"
                (click)="getSlices(); slices.viewType = 'Logical'"
                >Logical</mat-button-toggle
              >
              <mat-button-toggle
                *ngIf="config === null"
                [disabled]="config === null"
                value="Physical"
                class="border-none"
                >Physical</mat-button-toggle
              >
              <mat-button-toggle
                *ngIf="config !== null"
                [disabled]="config === null"
                (click)="slices.viewType = 'Physical'"
                value="Physical"
                class="border-none"
                >Physical</mat-button-toggle
              >
            </mat-button-toggle-group>
          </div>
        </div>
      </div>
      <div *ngIf="isAcknowledged === 8" class="col-lg-4">
        <div class="site-visite-bx">
          <div class="section-h">
            <h4>Notification</h4>
          </div>
          <div class="section-tabs section_close">
            <p (click)="hideAcknowledgedView()">Close</p>
          </div>
        </div>
      </div>
      <aep-slices
        #slices
        (informParent)="parentWillTakeActionSlice($event)"
      ></aep-slices>
      <!-- <div *ngIf="viewType === 'Physical'" class="dashboard__physical-view">
        <img
          class="dashboard__physical-view__image"
          [src]="
            baseUrl +
            config?.['site-plan-list'][selectedPlan][
              'svg-file'
            ]
          "
          #physicalViewImage
        />
        <ng-container *ngFor="let device of devices">
          <div
            class="dashboard__physical-view__device"
            *ngIf="
              device['position'] &&
              config?.['site-plan-list'][selectedPlan]
                .id === device['position']['site-plan']
            "
            [style]="
              'top: ' +
              device['position']['position-y'] +
              'px; ' +
              'left: ' +
              device['position']['position-x'] +
              'px;'
            "
            [matMenuTriggerFor]="deviceMenu"
          >
            <mat-icon class="dashboard__device-icon">videocam</mat-icon>
            <mat-menu #deviceMenu="matMenu">
              <div class="dashboard__menu">
                <span>Device: {{ device["display-name"] }}</span>
                <span class="dashboard__menu__site">{{
                  device["position"]["site-plan"]
                }}</span>
                <span class="dashboard__menu__details">Details</span>
              </div>
            </mat-menu>
          </div>
        </ng-container>
        <svg:svg height="800" width="800">
          <ng-container *ngFor="let device of devices">
            <svg:line
              *ngIf="
                device['position'] &&
                config?.['site-plan-list'][selectedPlan]
                  .id === device['position']['site-plan']
              "
              [attr.x1]="device['position']['position-x']"
              [attr.y1]="device['position']['position-y'] + 20"
              [attr.x2]="device['site-position']['position-x']"
              [attr.y2]="device['site-position']['position-y'] + 30"
              style="stroke: #0063f7; stroke-width: 2"
              stroke-dasharray="5,5"
            />
          </ng-container>
        </svg:svg>
        <ng-container *ngFor="let smallCell of smallCells">
          <div
            class="dashboard__physical-view__small-cell"
            *ngIf="
              smallCell['position'] &&
              config?.['site-plan-list'][selectedPlan]
                .id === smallCell['position']['site-plan']
            "
            [style]="
              'top: ' +
              smallCell['position']['position-y'] +
              'px; ' +
              'left: ' +
              smallCell['position']['position-x'] +
              'px;'
            "
            [matMenuTriggerFor]="menu"
          >
            <mat-icon class="dashboard__cell-icon">cell_tower</mat-icon>
            <mat-menu #menu="matMenu">
              <div class="dashboard__menu dashboard__menu__centered">
                <span class="dashboard__menu__small-cell"
                  ><mat-icon>wifi_tethering</mat-icon>
                  {{ smallCell["display-name"] }}</span
                >
                <span
                  class="dashboard__menu__site dashboard__menu__site--big"
                  >{{ smallCell["position"]["site-plan"] }}</span
                >
                <span class="dashboard__menu__details">Details</span>
              </div>
            </mat-menu>
          </div>
        </ng-container>
      </div> -->
    </div>
  </div>
</div>
