<div
  cdkDropList
  class="example-list"
  (cdkDropListDropped)="dragAndDrop($event)"
>
  <div class="row">
    <!-- <div class="nomarLR mt-1 float-left col-{{ isAcknowledged }}"> -->
    <div
      class="nomarLR mt-1 float-left col-{{ isAcknowledged }} ctm_new_component"
    >
      <mat-accordion
        class="example-headers-align"
        hideToggle="true"
        #accordion="matAccordion"
        [multi]="true"
      >
        <mat-expansion-panel
          hideToggle="true"
          #mapanel="matExpansionPanel"
          (opened)="panelIndex = i"
          [expanded]="panelIndex === i || isExpand"
          *ngFor="let slice of sliceData; let i = index"
          cdkDrag
          class="shadow_none"
        >
          <mat-expansion-panel-header
            class="pannel-header-bx"
            *ngIf="!mapanel.expanded && !isExpand"
          >
            <div class="left-icon" (click)="$event.stopPropagation()">
              <img src="assets/AdminPanel/union.svg" />
            </div>
            <div class="right-icon" (click)="expandSlice(slice['slice-id'])">
              <img
                src="assets/AdminPanel/plush-blue.svg"
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false"
              />
            </div>
            <div
              class="right-bx-shadow"
              (click)="expandSlice(slice['slice-id'])"
            ></div>
            <div
              class="row expansion-header-row"
              (click)="$event.stopPropagation()"
            >
              <div class="col-xl-3 col-lg-12">
                <mat-panel-title
                  class="accordion-left-bx"
                  (click)="$event.stopPropagation()"
                >
                  <span *ngIf="slice.devices.length !== 0">
                    {{ slice["device-groups"].length }} Device Groups |
                    {{ slice.devices[0].devices.length }} Devices
                  </span>
                  <span *ngIf="slice.devices.length === 0">
                    {{ slice["device-groups"].length }} Device Groups | 0
                    Devices
                  </span>

                  <button mat-raised-button class="conected-devices-bx">
                    <div class="card-icon">
                      <img src="assets/AdminPanel/connected.svg" />
                    </div>
                    Connected Devices
                    <div class="red-ellipse">
                      <img src="assets/AdminPanel/Ellipse-red.svg" />
                    </div>
                  </button>
                </mat-panel-title>
              </div>
              <div class="col-xl-6 col-lg-12">
                <mat-panel-description (click)="$event.stopPropagation()">
                  <mat-card class="graph-detail-bx">
                    <mat-card-header class="graph-header">
                      <div class="graph-detail-h">
                        <div class="card-icon">
                          <img src="assets/AdminPanel/stack.svg" />
                        </div>
                        <h3>{{ slice["display-name"] }}</h3>
                      </div>
                      <div
                        class="graph-alert-h"
                        [ngClass]="
                          slice.status === '1' ? 'text-red' : 'text-blue'
                        "
                      >
                        <div class="card-icon">
                          <img
                            *ngIf="slice.status === 1"
                            src="assets/AdminPanel/red-alert.svg"
                          />
                          <img
                            *ngIf="slice.status === 0"
                            src="assets/AdminPanel/danger.svg"
                          />
                        </div>
                        <span>5 Alerts</span>
                      </div>
                      <div class="graph-detail-filter">
                        <nav>
                          <div class="nav nav-tabs parent-toggel">
                            <mat-button-toggle-group
                              [(ngModel)]="TabValue[i]"
                              aria-label="Font Style"
                            >
                              <mat-button-toggle
                                [value]="'1h' + i"
                                class="nav-link"
                                >1H</mat-button-toggle
                              >
                              <mat-button-toggle
                                [value]="'1d' + i"
                                class="nav-link"
                                >1D</mat-button-toggle
                              >
                              <mat-button-toggle
                                [value]="'1w' + i"
                                class="nav-link"
                                >1W</mat-button-toggle
                              >
                              <mat-button-toggle
                                [value]="'1m' + i"
                                class="nav-link"
                                >1M</mat-button-toggle
                              >
                              <mat-button-toggle
                                [value]="'1y' + i"
                                class="nav-link"
                                >1Y</mat-button-toggle
                              >
                            </mat-button-toggle-group>
                          </div>
                        </nav>
                      </div>
                    </mat-card-header>

                    <mat-card-content class="graph-content-bx">
                      <div class="tab-content">
                        <div *ngIf="TabValue[i] == '1h' + i">
                          <div class="main-accordion-graph">
                            <div class="accordion-graph-bx">
                              <div class="graph-detail">
                                <div class="graph-name">Bandwidth</div>
                                <div class="graph-increment">
                                  <img src="assets/AdminPanel/polygon.svg" />10%
                                </div>
                              </div>
                              <div class="graph-img-bx">
                                <img
                                  src="assets/AdminPanel/graph-white.svg"
                                  class="img-fluid"
                                />
                              </div>
                            </div>
                            <div class="accordion-graph-bx">
                              <div class="graph-detail">
                                <div class="graph-name">Latency</div>
                                <div class="graph-increment">
                                  <img src="assets/AdminPanel/polygon.svg" />10%
                                </div>
                              </div>
                              <div class="graph-img-bx">
                                <img
                                  src="assets/AdminPanel/graph-white.svg"
                                  class="img-fluid"
                                />
                              </div>
                            </div>
                            <div class="accordion-graph-bx">
                              <div class="graph-detail">
                                <div class="graph-name">Packet Loss</div>
                                <div class="graph-increment">
                                  <img src="assets/AdminPanel/polygon.svg" />10%
                                </div>
                              </div>
                              <div class="graph-img-bx">
                                <img
                                  src="assets/AdminPanel/graph-white.svg"
                                  class="img-fluid"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="TabValue[i] == '1d' + i">
                          <div class="main-accordion-graph">
                            <div class="accordion-graph-bx">
                              <div class="graph-detail">
                                <div class="graph-name">Bandwidth</div>
                                <div class="graph-increment">
                                  <img src="assets/AdminPanel/polygon.svg" />15%
                                </div>
                              </div>
                              <div class="graph-img-bx">
                                <img
                                  src="assets/AdminPanel/graph-white.svg"
                                  class="img-fluid"
                                />
                              </div>
                            </div>
                            <div class="accordion-graph-bx">
                              <div class="graph-detail">
                                <div class="graph-name">Latency</div>
                                <div class="graph-increment">
                                  <img src="assets/AdminPanel/polygon.svg" />10%
                                </div>
                              </div>
                              <div class="graph-img-bx">
                                <img
                                  src="assets/AdminPanel/graph-white.svg"
                                  class="img-fluid"
                                />
                              </div>
                            </div>
                            <div class="accordion-graph-bx">
                              <div class="graph-detail">
                                <div class="graph-name">Packet Loss</div>
                                <div class="graph-increment">
                                  <img src="assets/AdminPanel/polygon.svg" />20%
                                </div>
                              </div>
                              <div class="graph-img-bx">
                                <img
                                  src="assets/AdminPanel/graph-white.svg"
                                  class="img-fluid"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="TabValue[i] == '1w' + i">
                          <div class="main-accordion-graph">
                            <div class="accordion-graph-bx">
                              <div class="graph-detail">
                                <div class="graph-name">Bandwidth</div>
                                <div class="graph-increment">
                                  <img src="assets/AdminPanel/polygon.svg" />20%
                                </div>
                              </div>
                              <div class="graph-img-bx">
                                <img
                                  src="assets/AdminPanel/graph-white.svg"
                                  class="img-fluid"
                                />
                              </div>
                            </div>
                            <div class="accordion-graph-bx">
                              <div class="graph-detail">
                                <div class="graph-name">Latency</div>
                                <div class="graph-increment">
                                  <img src="assets/AdminPanel/polygon.svg" />10%
                                </div>
                              </div>
                              <div class="graph-img-bx">
                                <img
                                  src="assets/AdminPanel/graph-white.svg"
                                  class="img-fluid"
                                />
                              </div>
                            </div>
                            <div class="accordion-graph-bx">
                              <div class="graph-detail">
                                <div class="graph-name">Packet Loss</div>
                                <div class="graph-increment">
                                  <img src="assets/AdminPanel/polygon.svg" />10%
                                </div>
                              </div>
                              <div class="graph-img-bx">
                                <img
                                  src="assets/AdminPanel/graph-white.svg"
                                  class="img-fluid"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="TabValue[i] == '1m' + i">
                          <div class="main-accordion-graph">
                            <div class="accordion-graph-bx">
                              <div class="graph-detail">
                                <div class="graph-name">Bandwidth</div>
                                <div class="graph-increment">
                                  <img src="assets/AdminPanel/polygon.svg" />20%
                                </div>
                              </div>
                              <div class="graph-img-bx">
                                <img
                                  src="assets/AdminPanel/graph-white.svg"
                                  class="img-fluid"
                                />
                              </div>
                            </div>
                            <div class="accordion-graph-bx">
                              <div class="graph-detail">
                                <div class="graph-name">Latency</div>
                                <div class="graph-increment">
                                  <img src="assets/AdminPanel/polygon.svg" />20%
                                </div>
                              </div>
                              <div class="graph-img-bx">
                                <img
                                  src="assets/AdminPanel/graph-white.svg"
                                  class="img-fluid"
                                />
                              </div>
                            </div>
                            <div class="accordion-graph-bx">
                              <div class="graph-detail">
                                <div class="graph-name">Packet Loss</div>
                                <div class="graph-increment">
                                  <img src="assets/AdminPanel/polygon.svg" />30%
                                </div>
                              </div>
                              <div class="graph-img-bx">
                                <img
                                  src="assets/AdminPanel/graph-white.svg"
                                  class="img-fluid"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="TabValue[i] == '1y' + i">
                          <div class="main-accordion-graph">
                            <div class="accordion-graph-bx">
                              <div class="graph-detail">
                                <div class="graph-name">Bandwidth</div>
                                <div class="graph-increment">
                                  <img src="assets/AdminPanel/polygon.svg" />30%
                                </div>
                              </div>
                              <div class="graph-img-bx">
                                <img
                                  src="assets/AdminPanel/graph-white.svg"
                                  class="img-fluid"
                                />
                              </div>
                            </div>
                            <div class="accordion-graph-bx">
                              <div class="graph-detail">
                                <div class="graph-name">Latency</div>
                                <div class="graph-increment">
                                  <img src="assets/AdminPanel/polygon.svg" />10%
                                </div>
                              </div>
                              <div class="graph-img-bx">
                                <img
                                  src="assets/AdminPanel/graph-white.svg"
                                  class="img-fluid"
                                />
                              </div>
                            </div>
                            <div class="accordion-graph-bx">
                              <div class="graph-detail">
                                <div class="graph-name">Packet Loss</div>
                                <div class="graph-increment">
                                  <img src="assets/AdminPanel/polygon.svg" />20%
                                </div>
                              </div>
                              <div class="graph-img-bx">
                                <img
                                  src="assets/AdminPanel/graph-white.svg"
                                  class="img-fluid"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </mat-panel-description>
              </div>
              <div class="col-xl-3 col-lg-12">
                <div
                  class="accordion-right-bx"
                  (click)="$event.stopPropagation()"
                >
                  {{ slice.services[0].service.length }} Services
                  <button mat-raised-button class="conected-devices-bx">
                    <div class="card-icon">
                      <img src="assets/AdminPanel/service.svg" />
                    </div>
                    Services
                    <div class="red-ellipse">
                      <img src="assets/AdminPanel/Ellipse-red.svg" />
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </mat-expansion-panel-header>

          <mat-action-row class="expanded-content-bx">
            <div class="row customise-row-center">
              <div class="col-lg-12">
                <div class="functionality-bx">
                  <div
                    class="edit-bx"
                    *ngIf="!isEditable && sliceId === slice['slice-id']"
                    (click)="onEdit(slice['slice-id'], i)"
                  >
                    <img src="assets/AdminPanel/edit.svg" /> Edit
                  </div>
                  <div
                    class="edit-bx"
                    *ngIf="sliceId !== slice['slice-id']"
                    (click)="onEdit(slice['slice-id'], i)"
                  >
                    <img src="assets/AdminPanel/edit.svg" /> Edit
                  </div>
                  <div
                    class="cancel-bx"
                    *ngIf="isEditable && sliceId === slice['slice-id']"
                    (click)="isEditable = !isEditable"
                  >
                    Cancel
                  </div>
                  <div
                    class="minimise-bx"
                    (click)="mapanel.close(); collapseSlice(i)"
                    *ngIf="isAcknowledged === 12"
                  >
                    <img src="assets/AdminPanel/negative.svg" />
                  </div>
                </div>
              </div>
              <!-- <div class="col-lg-5"> -->
              <div
                [ngClass]="
                  isAcknowledged === 8 ? 'col-lg-8 ctm_new_col_8' : 'col-lg-5'
                "
              >
                <div class="accordion-section">
                  <div
                    class="accordion-item"
                    *ngFor="
                      let device of slice.devices;
                      let deviceIndex = index
                    "
                  >
                    <h2
                      class="accordion-header"
                      [attr.id]="'heading' + deviceIndex"
                    >
                      <button
                        class="accordion-button"
                        type="button"
                        [ngClass]="
                          device.status === openAccordion[deviceIndex]
                            ? 'hiden'
                            : 'collapsed'
                        "
                        [style.justify-content]="
                          isEditable && sliceId === slice['slice-id']
                            ? 'space-between'
                            : 'center'
                        "
                      >
                        <div
                          class="services_left_bx"
                          (click)="
                            openAccordion[i + deviceIndex] =
                              !openAccordion[i + deviceIndex]
                          "
                          data-bs-toggle="collapse"
                          [attr.data-target]="'#collapse' + deviceIndex"
                          aria-expanded="true"
                          [attr.aria-controls]="'collapse' + deviceIndex"
                        >
                          <div class="card-icon">
                            <img src="assets/AdminPanel/camera.svg" />
                          </div>
                          {{ device["display-name"] }}
                          <div class="red-ellipse">
                            <img
                              *ngIf="device.status === 1"
                              src="assets/AdminPanel/Ellipse-red.svg"
                            />
                            <img
                              *ngIf="device.status === 0"
                              src="assets/AdminPanel/Ellipse.svg"
                            />
                          </div>
                        </div>
                        <div
                          class="services_right_bx"
                          *ngIf="isEditable && sliceId === slice['slice-id']"
                        >
                          <a class="add_btn">Add</a>
                          <a
                            class="remove_btn"
                            (click)="openDialog(deviceIndex, true)"
                            >Remove Group</a
                          >
                        </div>
                      </button>
                    </h2>
                    <div
                      [attr.id]="'collapse' + deviceIndex"
                      class="accordion-collapse collapse"
                      [class.show]="openAccordion[i + deviceIndex]"
                      [ngClass]="isEditable === true ? 'show' : 'hidden'"
                      [ngClass]="device.status === 1 ? 'show' : 'hidden'"
                      [attr.aria-labelledby]="'heading' + deviceIndex"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        <div class="ctm_accordion_container">
                          <div class="row">
                            <div
                              class="col-lg-6 ctm-border-bottom"
                              *ngFor="
                                let camera of device.devices;
                                let cameraIndex = index
                              "
                              [ngClass]="
                                group === device['display-name'] &&
                                serialNumber === camera['serial-number']
                                  ? 'selected-device'
                                  : ''
                              "
                            >
                              <div
                                class="product-detail"
                                *ngIf="
                                  removedCameraId === camera['serial-number'] &&
                                  removedDeviceId === deviceIndex
                                "
                              >
                                <div class="removed_heading">
                                  <p>{{ camera.title }} Removed</p>
                                  <span (click)="undoDevice()">Undo</span>
                                </div>
                              </div>
                              <div
                                class="product-detail"
                                *ngIf="
                                  removedCameraId !== camera['serial-number'] ||
                                  removedDeviceId !== deviceIndex
                                "
                              >
                                <div class="left-bx">
                                  <img
                                    *ngIf="
                                      !isEditable ||
                                      sliceId !== slice['slice-id']
                                    "
                                    src="assets/AdminPanel/camera.svg"
                                    class="camera_icon"
                                  />
                                  <img
                                    *ngIf="
                                      isEditable &&
                                      sliceId === slice['slice-id']
                                    "
                                    src="assets/AdminPanel/remove.svg"
                                    class="remove-icon"
                                    (click)="
                                      removeDevice(
                                        deviceIndex,
                                        cameraIndex,
                                        camera['serial-number'],
                                        device.id
                                      )
                                    "
                                  />
                                  {{ camera["display-name"] }}
                                </div>
                                <div class="right-bx">
                                  <p>Location</p>
                                  <div class="red-ellipse">
                                    <img
                                      *ngIf="camera.status === 1"
                                      src="assets/AdminPanel/Ellipse-red.svg"
                                    />
                                    <img
                                      *ngIf="camera.status === 0"
                                      src="assets/AdminPanel/Ellipse.svg"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <mat-card class="graph-detail-bx">
                  <mat-card-header
                    class="graph-header"
                    [class.graph-header-isAcknowledged]="isAcknowledged === 8"
                  >
                    <div class="graph-detail-h">
                      <div class="card-icon">
                        <img src="assets/AdminPanel/stack.svg" />
                      </div>
                      <h3>Mission Critical Slice</h3>
                    </div>
                    <div
                      class="graph-detail-filter"
                      *ngIf="isAcknowledged === 12"
                    >
                      <nav>
                        <div class="nav nav-tabs child-toggle">
                          <mat-button-toggle-group
                            [(ngModel)]="TabValue[i]"
                            aria-label="Font Style"
                          >
                            <mat-button-toggle
                              [value]="'1h' + i"
                              class="nav-link"
                              >1H</mat-button-toggle
                            >
                            <mat-button-toggle
                              [value]="'1d' + i"
                              class="nav-link"
                              >1D</mat-button-toggle
                            >
                            <mat-button-toggle
                              [value]="'1w' + i"
                              class="nav-link"
                              >1W</mat-button-toggle
                            >
                            <mat-button-toggle
                              [value]="'1m' + i"
                              class="nav-link"
                              >1M</mat-button-toggle
                            >
                            <mat-button-toggle
                              [value]="'1y' + i"
                              class="nav-link"
                              >1Y</mat-button-toggle
                            >
                          </mat-button-toggle-group>
                        </div>
                      </nav>
                    </div>
                    <div class="graph-alert-h text-red">
                      <div class="card-icon">
                        <img src="assets/AdminPanel/red-alert.svg" />
                      </div>
                      <span>5 Alerts</span>
                    </div>
                  </mat-card-header>

                  <mat-card-content
                    class="graph-content-bx"
                    *ngIf="isAcknowledged === 12"
                  >
                    <div class="tab-content" id="nav-tabContent">
                      <div *ngIf="TabValue[i] == '1h' + i">
                        <div class="main-accordion-graph">
                          <div class="accordion-graph-bx">
                            <div class="graph-detail">
                              <div class="graph-name">Bandwidth</div>
                              <div class="graph-increment">
                                <img src="assets/AdminPanel/polygon.svg" />10%
                              </div>
                            </div>
                            <div class="graph-img-bx">
                              <img
                                src="assets/AdminPanel/graph-white.svg"
                                class="img-fluid"
                              />
                            </div>
                          </div>
                          <div class="accordion-graph-bx">
                            <div class="graph-detail">
                              <div class="graph-name">Latency</div>
                              <div class="graph-increment">
                                <img src="assets/AdminPanel/polygon.svg" />10%
                              </div>
                            </div>
                            <div class="graph-img-bx">
                              <img
                                src="assets/AdminPanel/graph-white.svg"
                                class="img-fluid"
                              />
                            </div>
                          </div>
                          <div class="accordion-graph-bx">
                            <div class="graph-detail">
                              <div class="graph-name">Packet Loss</div>
                              <div class="graph-increment">
                                <img src="assets/AdminPanel/polygon.svg" />10%
                              </div>
                            </div>
                            <div class="graph-img-bx">
                              <img
                                src="assets/AdminPanel/graph-white.svg"
                                class="img-fluid"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="TabValue[i] == '1d' + i">
                        <div class="main-accordion-graph">
                          <div class="accordion-graph-bx">
                            <div class="graph-detail">
                              <div class="graph-name">Bandwidth</div>
                              <div class="graph-increment">
                                <img src="assets/AdminPanel/polygon.svg" />10%
                              </div>
                            </div>
                            <div class="graph-img-bx">
                              <img
                                src="assets/AdminPanel/graph-white.svg"
                                class="img-fluid"
                              />
                            </div>
                          </div>
                          <div class="accordion-graph-bx">
                            <div class="graph-detail">
                              <div class="graph-name">Latency</div>
                              <div class="graph-increment">
                                <img src="assets/AdminPanel/polygon.svg" />20%
                              </div>
                            </div>
                            <div class="graph-img-bx">
                              <img
                                src="assets/AdminPanel/graph-white.svg"
                                class="img-fluid"
                              />
                            </div>
                          </div>
                          <div class="accordion-graph-bx">
                            <div class="graph-detail">
                              <div class="graph-name">Packet Loss</div>
                              <div class="graph-increment">
                                <img src="assets/AdminPanel/polygon.svg" />10%
                              </div>
                            </div>
                            <div class="graph-img-bx">
                              <img
                                src="assets/AdminPanel/graph-white.svg"
                                class="img-fluid"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="TabValue[i] == '1W' + i">
                        <div class="main-accordion-graph">
                          <div class="accordion-graph-bx">
                            <div class="graph-detail">
                              <div class="graph-name">Bandwidth</div>
                              <div class="graph-increment">
                                <img src="assets/AdminPanel/polygon.svg" />10%
                              </div>
                            </div>
                            <div class="graph-img-bx">
                              <img
                                src="assets/AdminPanel/graph-white.svg"
                                class="img-fluid"
                              />
                            </div>
                          </div>
                          <div class="accordion-graph-bx">
                            <div class="graph-detail">
                              <div class="graph-name">Latency</div>
                              <div class="graph-increment">
                                <img src="assets/AdminPanel/polygon.svg" />10%
                              </div>
                            </div>
                            <div class="graph-img-bx">
                              <img
                                src="assets/AdminPanel/graph-white.svg"
                                class="img-fluid"
                              />
                            </div>
                          </div>
                          <div class="accordion-graph-bx">
                            <div class="graph-detail">
                              <div class="graph-name">Packet Loss</div>
                              <div class="graph-increment">
                                <img src="assets/AdminPanel/polygon.svg" />10%
                              </div>
                            </div>
                            <div class="graph-img-bx">
                              <img
                                src="assets/AdminPanel/graph-white.svg"
                                class="img-fluid"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="TabValue[i] == '1m' + i">
                        <div class="main-accordion-graph">
                          <div class="accordion-graph-bx">
                            <div class="graph-detail">
                              <div class="graph-name">Bandwidth</div>
                              <div class="graph-increment">
                                <img src="assets/AdminPanel/polygon.svg" />10%
                              </div>
                            </div>
                            <div class="graph-img-bx">
                              <img
                                src="assets/AdminPanel/graph-white.svg"
                                class="img-fluid"
                              />
                            </div>
                          </div>
                          <div class="accordion-graph-bx">
                            <div class="graph-detail">
                              <div class="graph-name">Latency</div>
                              <div class="graph-increment">
                                <img src="assets/AdminPanel/polygon.svg" />10%
                              </div>
                            </div>
                            <div class="graph-img-bx">
                              <img
                                src="assets/AdminPanel/graph-white.svg"
                                class="img-fluid"
                              />
                            </div>
                          </div>
                          <div class="accordion-graph-bx">
                            <div class="graph-detail">
                              <div class="graph-name">Packet Loss</div>
                              <div class="graph-increment">
                                <img src="assets/AdminPanel/polygon.svg" />10%
                              </div>
                            </div>
                            <div class="graph-img-bx">
                              <img
                                src="assets/AdminPanel/graph-white.svg"
                                class="img-fluid"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="TabValue[i] == '1y' + i">
                        <div class="main-accordion-graph">
                          <div class="accordion-graph-bx">
                            <div class="graph-detail">
                              <div class="graph-name">Bandwidth</div>
                              <div class="graph-increment">
                                <img src="assets/AdminPanel/polygon.svg" />30%
                              </div>
                            </div>
                            <div class="graph-img-bx">
                              <img
                                src="assets/AdminPanel/graph-white.svg"
                                class="img-fluid"
                              />
                            </div>
                          </div>
                          <div class="accordion-graph-bx">
                            <div class="graph-detail">
                              <div class="graph-name">Latency</div>
                              <div class="graph-increment">
                                <img src="assets/AdminPanel/polygon.svg" />10%
                              </div>
                            </div>
                            <div class="graph-img-bx">
                              <img
                                src="assets/AdminPanel/graph-white.svg"
                                class="img-fluid"
                              />
                            </div>
                          </div>
                          <div class="accordion-graph-bx">
                            <div class="graph-detail">
                              <div class="graph-name">Packet Loss</div>
                              <div class="graph-increment">
                                <img src="assets/AdminPanel/polygon.svg" />20%
                              </div>
                            </div>
                            <div class="graph-img-bx">
                              <img
                                src="assets/AdminPanel/graph-white.svg"
                                class="img-fluid"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>

                <mat-card
                  class="graph-detail-bx add_new_device"
                  *ngIf="isEditable && sliceId === slice['slice-id']"
                >
                  <p>Add new device group</p>
                  <img src="assets/AdminPanel/plush-white.svg" />
                </mat-card>
              </div>
              <!-- <div class="col-lg-3"> -->
              <div
                [ngClass]="
                  isAcknowledged === 8 ? 'col-lg-8 ctm_new_col_8' : 'col-lg-3'
                "
              >
                <div class="accordion-section left-accordion-section">
                  <div
                    class="accordion-item"
                    *ngFor="
                      let service of slice.services;
                      let serviceIndex = index
                    "
                  >
                    <h2
                      class="accordion-header"
                      [attr.id]="'heading' + serviceIndex"
                    >
                      <button
                        class="accordion-button"
                        type="button"
                        [ngClass]="
                          service.status === openAccordionRight[serviceIndex]
                            ? 'hiden'
                            : 'collapsed'
                        "
                        [style.justify-content]="
                          isEditable && sliceId === slice['slice-id']
                            ? 'space-between'
                            : 'center'
                        "
                      >
                        <div
                          class="services_left_bx"
                          (click)="
                            openAccordionRight[serviceIndex] =
                              !openAccordionRight[serviceIndex]
                          "
                          data-bs-toggle="collapse"
                          [attr.data-target]="'#collapse' + serviceIndex"
                          aria-expanded="true"
                          [attr.aria-controls]="'collapse' + serviceIndex"
                        >
                          <div class="card-icon">
                            <img src="assets/AdminPanel/service.svg" />
                          </div>
                          {{ service["display-name"] }}
                          <div class="red-ellipse">
                            <img
                              *ngIf="service.status === 1"
                              src="assets/AdminPanel/Ellipse-red.svg"
                            />
                            <img
                              *ngIf="service.status === 0"
                              src="assets/AdminPanel/Ellipse.svg"
                            />
                          </div>
                        </div>
                        <div
                          class="services_right_bx"
                          *ngIf="isEditable && sliceId === slice['slice-id']"
                        >
                          <a class="add_btn">Add</a>
                          <a
                            class="remove_btn"
                            (click)="openDialog(serviceIndex, false)"
                            >Remove Group</a
                          >
                        </div>
                      </button>
                    </h2>
                    <div
                      [attr.id]="'collapse' + serviceIndex"
                      class="accordion-collapse collapse"
                      [class.show]="openAccordionRight[serviceIndex]"
                      [ngClass]="isEditable === true ? 'show' : 'hidden'"
                      [ngClass]="service.status === 1 ? 'show' : 'hidden'"
                      [attr.aria-labelledby]="'heading' + serviceIndex"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        <div
                          class="product-detail"
                          *ngFor="
                            let group of service.service;
                            let groupServiceIndex = index
                          "
                        >
                          <div
                            class="removed_heading"
                            *ngIf="removedServiceId === group['application-id']"
                          >
                            <p>{{ group["display-name"] }} Removed</p>
                            <span (click)="undoDevice()">Undo</span>
                          </div>
                          <div
                            class="left-bx"
                            *ngIf="removedServiceId !== group['application-id']"
                          >
                            <!-- *ngIf="
                          removedServiceGroupId !== group.id ||
                          removedServiceId !== service.id
                        " -->
                            <div class="card-icon">
                              <img
                                src="assets/AdminPanel/service.svg"
                                *ngIf="
                                  !isEditable || sliceId !== slice['slice-id']
                                "
                              />
                              <img
                                *ngIf="
                                  isEditable && sliceId === slice['slice-id']
                                "
                                src="assets/AdminPanel/remove.svg"
                                class="remove-icon"
                                (click)="
                                  removeServiceGroup(
                                    serviceIndex,
                                    groupServiceIndex,
                                    group['application-id']
                                  )
                                "
                              />
                            </div>
                            {{ group["display-name"] }}
                          </div>
                          <div
                            class="center-bx"
                            *ngIf="removedServiceId !== group['application-id']"
                          >
                            <!-- *ngIf="
                          removedServiceGroupId !== group.id ||
                          removedServiceId !== service.id
                        " -->
                            <p>Location</p>
                          </div>
                          <div
                            class="right-bx"
                            *ngIf="removedServiceId !== group['application-id']"
                          >
                            <!-- *ngIf="
                          removedServiceGroupId !== group.id ||
                          removedServiceId !== service.id
                        " -->
                            <div class="red-ellipse" *ngIf="group.status === 1">
                              <img src="assets/AdminPanel/Ellipse-red.svg" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div
      class="nomarLR mt-1 float-left col-4 small-cell"
      *ngIf="isAcknowledged === 8"
    >
      <aep-small-cells
        (informParent)="selectedDevice($event)"
      ></aep-small-cells>
    </div>
  </div>
</div>
