/*
 * SPDX-FileCopyrightText: 2022-present Open Networking Foundation <info@opennetworking.org>
 *
 * SPDX-License-Identifier: Apache-2.0
 */
.mat-expansion-panel {
  overflow: visible;
  border-radius: 8px !important;
  margin-bottom: 50px;
  box-shadow: none;
  .mat-expansion-panel-header > span {
    justify-content: space-between;
    overflow: visible;
  }
  .mat-expansion-panel-header-description {
    flex-grow: 1;
    justify-content: center;
  }
  .accordion-right-bx {
    flex-grow: 1;
  }
}
.ctm_new_component {
  .mat-action-row {
    padding: 36px 24px 86px 24px;
    display: flex;
    justify-content: flex-start;
    @media only screen and (min-width: 1550px) {
      padding: 36px 24px 86px 24px;
    }
    @media only screen and (max-width: 1199px) {
      padding: 16px 24px 16px 24px;
    }
  }
}
.mat-action-row {
  border-top-width: 0px;
}
.mat-button-wrapper {
  display: flex;
}
// .mat-tab-labels {
//   .mat-tab-label {
//   height: auto;
//   width: 100%;
//   padding: 10px 0 10px;
//   opacity: .6;
//   color: #97C1FF;
//   }
// }
.accordion_pannel {
  .mat-expansion-panel-header.mat-expanded {
    height: 110px;
  }
}
.accordion_pannel .alert_card_bx {
  height: auto;
}
.parent-toggel {
  .mat-button-toggle-group-appearance-standard .mat-button-toggle {
    border-left: solid 1px rgba(0, 0, 0, 0.12);
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 40px;
  }
}
