<!-- <div>
  <div *ngFor="let slice of slices" class="slice">
    <div class="slice__deviceGroups">
      <span>{{ slice.deviceGroups.length }} Device Groups</span>
      <span>{{ calculateDevices(slice.deviceGroups) }} Devices</span>
    </div>
    <div class="slice__slice-details">
      {{ slice["display-name"] }}
    </div>
    <div class="slice__applications">
      {{ slice.applications.length }} Applications
    </div>
  </div>
</div> -->

<!-- Single slice -->

<!-- <div class="slice">
  <div>
    <div
      class="slice__deviceGroups"
      *ngFor="
        let deviceGroup of slices[0].deviceGroups;
        let deviceIndex = index
      "
      [style]="'top: ' + calculateDeviceTop(deviceIndex) + 'px;'"
    >
      {{ deviceGroup["display-name"] }}
    </div>
  </div>
  <div class="slice__slice-details">
    {{ slices[0]["display-name"] }}
  </div>
  <div class="slice__applications">
    {{ slices[0].applications.length }} Services
  </div>
  <svg:svg
    xmlns:svg="http://www.w3.org/2000/svg"
    [attr.viewbox]="'0 0 ' + innerWidth + ' ' + innerHeight"
    [attr.width]="innerWidth"
    [attr.height]="innerHeight"
  >
    <svg:g
      aep-joiner
      [dash]="'10 10'"
      [title]="''"
      [startX]="480"
      [startY]="100"
      [endX]="300"
      [endY]="50 + i * 100"
      *ngFor="let deviceGroup of slices[0].deviceGroups; let i = index"
    ></svg:g>
    <svg:g
      aep-joiner
      [dash]="'10 10'"
      [title]="''"
      [startX]="980"
      [startY]="100"
      [endX]="780"
      [endY]="100"
    ></svg:g>
  </svg:svg>
</div> -->

<div class="slice" *ngFor="let slice of slices; let sliceIndex = index">
  <div>
    <div
      class="slice__deviceGroups"
      [ngClass]="{
        'slice__deviceGroups--expanded': deviceGroup?.isExpanded
      }"
      (click)="deviceGroup.isExpanded = !deviceGroup.isExpanded"
      *ngFor="let deviceGroup of slice.devices; let deviceIndex = index"
      [style]="'top: ' + calculateDeviceTop(deviceIndex, slice.devices) + 'px;'"
    >
      {{ deviceGroup["display-name"] }}
    </div>
  </div>
  <div class="slice__slice-details">
    {{ slice["display-name"] }}
  </div>
  <div
    class="slice__applications"
    [style]="
      'top: ' + calculateDeviceTop(slice.devices.length, slice.devices) + 'px;'
    "
  >
    {{ slice.applications.length }} Services
  </div>
  <svg:svg
    xmlns:svg="http://www.w3.org/2000/svg"
    [attr.viewbox]="
      '0 0 ' +
      innerWidth +
      ' ' +
      calculateSVGHeight(
        slice.devices.length,
        slice.devices[0]?.isExpanded,
        slice.devices
      )
    "
    [attr.width]="innerWidth"
    [attr.height]="
      calculateSVGHeight(
        slice.devices.length,
        slice.devices[0]?.isExpanded,
        slice.devices
      )
    "
  >
    <svg:g
      aep-joiner
      [dash]="'10 10'"
      [title]="''"
      [startX]="480"
      [startY]="100"
      [endX]="300"
      [endY]="calculateJointVerticalPosition(slice.devices, i)"
      *ngFor="let deviceGroup of slice.devices; let i = index"
    ></svg:g>
    <svg:g
      aep-joiner
      [dash]="'10 10'"
      [title]="''"
      [startX]="480"
      [startY]="100"
      [endX]="300"
      [endY]="
        calculateJointVerticalPosition(slice.devices, slice.devices.length)
      "
    ></svg:g>
  </svg:svg>
</div>
