<!-- <p>side-navbar works!</p> -->

<mat-card class="sideNavbar_navCard">
  <!-- <mat-card-header class="my-2"> -->
  <!-- <mat-form-field>
    <div class="" id="siteDropdown" appearance="fill">
      <mat-select>
        <mat-option
          class="sideNavbar_navCard_options"
          *ngFor="let site of sites; let siteIndex = index"
          [value]="site['siteName']"
          (click)="selectedSite(site['siteID'])"
        >
          {{ site["siteName"] }}
        </mat-option>
      </mat-select>
    </div>
  </mat-form-field> -->

  <mat-form-field
    class="btn admin-addNew-form-permissions my-3 select-site"
    appearance="fill"
  >
    <mat-label>site:</mat-label>
    <mat-select
      [value]="selectSite"
      class="admin-addNew-form-permissionsSelect"
    >
      <mat-option
        *ngFor="let site of sites; let siteIndex = index"
        [value]="site['siteID']"
        (click)="selectedSite(site['siteID'])"
        >{{ site["siteName"] }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-card-header>
    <mat-card-title class="sideNavbar_navCard_headings">MANAGE</mat-card-title>
  </mat-card-header>
  <img
    class="admin-sideCol-navCard-controlLine"
    src="../../assets/CommonAssets/ControlMenuLine.svg"
  />
  <div
    id="admin-nav "
    class="menu d-flex align-items-center mb-2"
    routerLink="/admin"
    routerLinkActive="active"
  >
    <div class="img-bg">
      <div class="icon admin-link"></div>
    </div>
    <div class="label mx-2">Admin</div>
  </div>
  <div
    id="navitem "
    class="menu d-flex align-items-center my-2"
    routerLink="/device-sim"
    routerLinkActive="active"
  >
    <div class="img-bg">
      <div class="icon device-sim-link"></div>
    </div>
    <div class="label mx-2">Devices / Sim</div>
  </div>
  <div
    id="services-nav"
    class="menu d-flex align-items-center my-2"
    routerLink="/services"
    routerLinkActive="active"
  >
    <div class="img-bg">
      <div class="icon services-link"></div>
    </div>
    <div class="label mx-2">Services</div>
  </div>

  <mat-card-header>
    <mat-card-title class="my-2 sideNavbar_navCard_headings"
      >CONFIGURE</mat-card-title
    >
  </mat-card-header>
  <img
    class="admin-sideCol-navCard-controlLine"
    src="../../assets/CommonAssets/ControlMenuLine.svg"
  />
  <div
    id="smallCells-nav"
    class="menu d-flex align-items-center mb-2"
    routerLink="/small-cells"
    routerLinkActive="active"
  >
    <div class="img-bg">
      <div class="icon small-cells-link"></div>
    </div>
    <div class="label mx-2">Small Cells</div>
  </div>
  <div
    id="deviceGroups-nav"
    class="menu d-flex align-items-center my-2"
    routerLink="/device-groups"
    routerLinkActive="active"
  >
    <div class="img-bg">
      <div class="icon device-groups-link"></div>
    </div>
    <div class="label mx-2">Device Groups</div>
  </div>
  <div
    id="slices-nav"
    class="menu d-flex align-items-center my-2"
    routerLink="/slices"
    routerLinkActive="active"
  >
    <div class="img-bg">
      <div class="icon slices-link"></div>
    </div>
    <div class="label mx-2">Slices</div>
  </div>

  <mat-card-header>
    <mat-card-title class="my-2 sideNavbar_navCard_headings"
      >REPORTS</mat-card-title
    >
  </mat-card-header>
  <img
    class="admin-sideCol-navCard-controlLine"
    src="../../assets/CommonAssets/ControlMenuLine.svg"
  />
  <div
    id="audit-nav"
    class="menu d-flex align-items-center mb-2"
    routerLink="/audit"
    routerLinkActive="active"
  >
    <div class="img-bg">
      <div class="icon audit-link"></div>
    </div>
    <div class="label mx-2">Audit</div>
  </div>
</mat-card>
