<div class="example-container">
  <div class="container login-container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card_bx">
          <div class="logo">
            <a class="aether-title aether-bgColor"
              >Aether 5G
              <sup class="aether-bgColor"
                ><sup
                  ><sup>
                    <img src="../../assets/Navbar/spinner-alt.svg" />
                  </sup>
                </sup> </sup
            ></a>
          </div>
          <h4>
            Forgot Password?
            <span>Reset link will be sent to you email ID</span>
          </h4>
          <div class="form-field-area-forgot">
            <mat-form-field appearance="fill" class="form-input-bx">
              <input matInput placeholder="Enter your email ID" required />
            </mat-form-field>
            <div class="btn_control">
              <button class="submit-Btn">
                Submit <img src="assets/Auth/login-step.svg" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
