<!--
~ SPDX-FileCopyrightText: 2022-present Open Networking Foundation <info@opennetworking.org>
~
~ SPDX-License-Identifier: Apache-2.0
-->
<div class="row ctm-row">
  <div
    class="col-xl-3 col-lg-5 col-md-6 col-sm-7 ctm-cols"
    *ngFor="let site of sites; let siteIndex = index"
  >
    <div
      class="card card-stats"
      (click)="
        onSelectCard(
          site['site-id'],
          site,
          site['device-groups'],
          site.devices,
          siteIndex
        )
      "
      [ngClass]="{
        'card-selected mat-elevation-z4': selected === site['site-id']
      }"
    >
      <div
        class="card-header card-header-warning card-header-icon card-header-bg"
        [ngStyle]="{ 'background-image': 'url(' + baseUrl + site.image + ')' }"
      >
        <h3 class="card-title">{{ site["display-name"] }}</h3>
        <div *ngIf="site.alerts !== 0" class="alert-bx">ALERT</div>
        <div *ngIf="site.alerts === 0" class="success-bx">HEALTHY</div>
      </div>
      <div class="card-body card-body-bx">
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="service-bx">
              <div class="card-icon">
                <img src="assets/AdminPanel/device.svg" />
              </div>
              <div class="card-category">
                <p class="">
                  {{ site.devices.length }} Devices
                  <span>10 Unprovisioned</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="service-bx">
              <div class="card-icon">
                <img src="assets/AdminPanel/slices.svg" />
              </div>
              <div class="card-category">
                <p class="">{{ site.slices.length }} Slices</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="service-bx">
              <div class="card-icon">
                <img src="assets/AdminPanel/service.svg" />
              </div>
              <div class="card-category">
                <p class="">
                  {{ getTotalService(site.slices, sitesResponse.applications) }}
                  Services
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="service-bx">
              <div class="card-icon">
                <img
                  *ngIf="site.alerts !== 0"
                  src="assets/AdminPanel/red-alert.svg"
                />
                <img
                  *ngIf="site.alerts === 0"
                  src="assets/AdminPanel/alert.svg"
                />
              </div>
              <div class="card-category">
                <p class="">{{ site.alerts }} Alerts</p>
              </div>
            </div>
          </div>
        </div>
        <div class="check-box-container">
          <img
            *ngIf="selected !== site['site-id']"
            src="assets/AdminPanel/select.svg"
          />
          <img
            *ngIf="selected === site['site-id']"
            src="assets/AdminPanel/selected-card.svg"
          />
        </div>
      </div>
    </div>
  </div>
</div>
