  <!-- <p>device-groups works!</p> -->

<div class="row container-fluid device-groups-view">
  <!-- <div class="row"> -->
  <!--left side section-->
  <!-- <div class="device-groups-view-col-2 ml-6"> -->
  <div class="device-groups-view-col-2 ml-6">

    <aep-side-navbar></aep-side-navbar>
  </div>
  <!--RIGHT SIDE SECTION-->
  <div class="right-section-col-lg-9 right-section my-2">
    <div class="sec-1">
      <div class="title-tab d-flex">
        <div class="title-block">Device Groups</div>
      </div>
    </div>
    <div class="device-groups-view-cards">
      <!-- <div class="row"> -->
        <mat-card
          class="add-button col-12 d-flex my-4"
          *ngIf="!addNewdeviceGroupForm"
        >
          <button
            class="
              btn
              col-3
              device-groups-view-cards-add-new-device-group
              device-groups-view-cards-add-new-device-group-button-medium-14
              align-items-center
            "
            (click)="addNewdeviceGroupFormFun()"
          >
            Add new device group
          </button>
        </mat-card>
        <!--ADDADD DEVICE GROUP FORM-->
        <div
          class="add-device-group-form my-1 forms-block"
          *ngIf="addNewdeviceGroupForm"
        >
          <mat-stepper
            #stepper
            ngClass="{{ 'last-edited-step-' + stepper.selectedIndex }}"
          >
            <mat-step
              [stepControl]="firstFormGroup"
              label="Create Device Group"
            >
              <form [formGroup]="firstFormGroup">
                <!-- <ng-template matStepLabel>Create Device Group</ng-template> -->
                <div class="d-flex my-4 p-2 form-body">
                  <div class="left-sec col-6">
                    <div class="device-groupName-box my-2 mx-3">
                      <mat-label class="form-label"
                        >Device group name
                      </mat-label>
                      <input
                        class="form-control form-field-big"
                        type="text"
                        formControlName="newDeviceGroup"
                        name="newDeviceGroup"
                        id="newDeviceGroup"
                        placeholder="Device group name"
                        [ngClass]="{
                          'is-invalid':
                            (addNewDeviceGroupError ||
                              firstFormGroup.get('newDeviceGroup').touched) &&
                            firstFormGroup.get('newDeviceGroup').invalid
                        }"
                      />
                      <div
                        *ngIf="
                          (addNewDeviceGroupError ||
                            firstFormGroup.get('newDeviceGroup').touched) &&
                          firstFormGroup.get('newDeviceGroup').invalid
                        "
                        class="error-field"
                      >
                        Device group name is required
                      </div>
                    </div>
                    <div class="ip-domain-box my-2 mx-3">
                      <h4 class="form-label">IP Domain</h4>
                      <mat-form-field
                        class=""
                        appearance="fill"
                        [ngClass]="{
                          'is-invalid':
                            (addNewDeviceGroupError ||
                              firstFormGroup.get('newIpDomain').touched) &&
                            firstFormGroup.get('newIpDomain').invalid
                        }"
                      >
                        <mat-select
                          placeholder="Select IP Domain"
                          formControlName="newIpDomain"
                        >
                          <mat-option
                            [value]="domain"
                            *ngFor="
                              let domain of domainList;
                              let domainIndex = index
                            "
                            >{{ domain }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                      <!-- <input
                          class="form-control"
                          type="text"
                          formControlName="newIpDomain"
                          name="newIpDomain"
                          id="newIpDomain"
                          placeholder="Select IP Domain"
                        /> -->
                      <div
                        *ngIf="
                          (addNewDeviceGroupError ||
                            firstFormGroup.get('newIpDomain').touched) &&
                          firstFormGroup.get('newIpDomain').invalid
                        "
                        class="error-field"
                      >
                        IP Domain is required
                      </div>
                    </div>
                  </div>
                  <div class="right-sec col-6">
                    <div class="my-2 mx-3">
                      <div><mat-label class="form-label">Description </mat-label></div>
                      <textarea
                        rows="6"
                        cols="45"
                        class="form-text-control my-2"
                        formControlName="newDescription"
                        placeholder="Add Device Description"
                        [ngClass]="{
                          'is-invalid':
                            (addNewDeviceGroupError ||
                              firstFormGroup.get('newDescription').touched) &&
                            firstFormGroup.get('newDescription').invalid
                        }"
                      >
                      </textarea>
                      <div
                        *ngIf="
                          (addNewDeviceGroupError ||
                            firstFormGroup.get('newDescription').touched) &&
                          firstFormGroup.get('newDescription').invalid
                        "
                        class="error-field"
                      >
                        Description is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex btn-controls">
                  <button
                    mat-button
                    matStepperNext
                    class="back-btn"
                    (click)="addNewdeviceGroupForm = !addNewdeviceGroupForm"
                  >
                    Cancel
                  </button>
                  <button
                    mat-button
                    class="next-btn-active"
                    (click)="firstFormNext()"
                    *ngIf="!firstFormGroup.pristine"
                  >
                    Next
                  </button>
                  <button
                    mat-button
                    class="next-btn-inactive"
                    *ngIf="firstFormGroup.pristine"
                  >
                    Next
                  </button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="Add Devices">
              <form [formGroup]="secondFormGroup">
                <div class="my-4 p-3 form-body">
                  <div class="select-devices">Select Devices</div>
                  <div class="col-12 d-flex">
                    <div
                      class="device-group-items d-flex flex-wrap"
                      *ngFor="let devices of siteDevices"
                    >
                      <div
                        class="device-group-item"
                        *ngFor="
                          let device of deviceInventory;
                          let deviceIndex = index
                        "
                        (click)="
                          changeSelection(
                            device['display-name'],
                            device.imei,
                            device.location,
                            device['serial-number'],
                            device.sim,
                            device.type,
                            deviceIndex
                          )
                        "
                      >
                        <div class="mx-1 d-flex align-items-center">
                          <div class="select">
                            <img
                              [src]="
                                device.selected === 0
                                  ? 'assets/deviceSim/select.svg'
                                  : 'assets/deviceSim/selected-card.svg'
                              "
                            />
                          </div>

                          <div class="img-bg-popup">
                            <img
                              src="../../../assets/deviceSim/ccCam-deviceDialog.svg"
                              class="mx-2"
                            />
                          </div>

                          <div class="mx-1 camera">
                            {{ device["display-name"] }}
                          </div>
                          <div class="mx-1 location">
                            {{ device.location }}
                          </div>
                          <div class="status-dot">
                            <img src="../../assets/deviceSim/success-dot.svg" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex btn-controls">
                  <button mat-button matStepperPrevious class="back-btn">
                    Back
                  </button>
                  <button
                    mat-button
                    matStepperNext
                    class="next-btn-active"
                    *ngIf="selectedDevices.length > 0"
                    (click)="summaryTrigger()"
                  >
                    Next
                  </button>
                  <button
                    mat-button
                    class="next-btn-inactive"
                    *ngIf="selectedDevices.length < 1"
                  >
                    Next
                  </button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Summary</ng-template>

              <div class="my-4 p-3 form-body">
                <div class="add-device-group-summary mx-2 my-2">Summary</div>
                <div class="device-groups-summary d-flex">
                  <div class="col-6">
                    <div
                      class="selected-items d-flex flex-wrap"
                      *ngIf="summaryBool"
                    >
                      <div class="selected-item mx-2 my-2">
                        <div class="label">Device Group name</div>
                        <div>
                          {{ summaryArray[0].summaryDeviceGroupName }}
                        </div>
                      </div>
                      <div class="selected-item mx-2 my-2">
                        <div class="label">Number of Devices</div>
                        <div class="content">
                          {{ selectedDevices.length }}
                        </div>
                      </div>
                      <div class="selected-item mx-2 my-2">
                        <div class="label">protocol</div>
                        <div class="content">
                          {{ summaryArray[0].summaryIpDomain }}
                        </div>
                      </div>
                      <div class="selected-item mx-2 my-2">
                        <div class="label">Description</div>
                        <div class="content">
                          {{ summaryArray[0].summaryDescription }}
                          <!-- It is a long established fact that a reader will be
                            distracted by the readable content of a page when
                            looking at its layout. The point of using Lorem
                            Ipsum is that it has a more-or-less normal
                            distribution of letters, as opposed -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 mx-3">
                    <div class="device-group-items d-flex flex-wrap">
                      <div
                        class="device-group-item"
                        *ngFor="
                          let selectedDevice of selectedDevices;
                          let selectedDeviceIndex = index
                        "
                      >
                        <div class="mx-1 d-flex align-items-center">
                          <div class="img-bg-popup">
                            <img
                              src="../../../assets/deviceSim/ccCam-deviceDialog.svg"
                              class="mx-2"
                            />
                          </div>

                          <div class="mx-1 camera">
                            {{ selectedDevice["display-name"] }}
                          </div>
                          <div class="mx-1 location">
                            {{ selectedDevice.location }}
                          </div>
                          <div class="status-dot">
                            <img src="../../assets/deviceSim/success-dot.svg" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex btn-controls">
                <button mat-button matStepperPrevious class="back-btn">
                  Back
                </button>
                <button
                  mat-button
                  class="next-btn-active"
                  (click)="addNewDeviceG()"
                >
                  Submit
                </button>
              </div>
            </mat-step>
          </mat-stepper>
        </div>
        <!--END ADD DEVICE GROUP FORM-->
        <!--START DEVICE GROUP CARDS-->
        <div class="mat-acc px-0 my-2">
          <div
            class="mat-card-actions-content"
            *ngFor="let groups of siteDeviceGroups"
          >
            <div *ngFor="let group of groups; let groupIndex = index">
              <div class="card-item">
                <div class="card-list" hideToggle="true">
                  <div
                    hideToggle="true"
                    class="mat-expansion-panel-header1 d-flex"
                  >
                    <!-- <div
                        class="plush-min"
                        *ngIf="editDeviceGroup.indexOf(groupIndex) >= 0"
                      > -->

                    <!-- <mat-panel-title class="card-titles align-items-center col-12" (click)="$event.stopPropagation()"> -->
                    <div class="con">
                      <div class="card-titles align-items-center col-12 d-flex">
                        <div class="device-group card-title-item">
                          <img
                            src="../../../assets/deviceSim/ccCam-deviceDialog.svg"
                          />
                          {{ groups[groupIndex]["display-name"] }}
                          <img src="../../assets/deviceSim/success-dot.svg" />
                        </div>
                        <div class="device-count card-title-item">
                          {{ groups[groupIndex].devices.length }} devices
                        </div>
                        <div class="device-domain card-title-item">
                          IP Domain : {{ groups[groupIndex].ipDomain }}
                        </div>
                        <div
                          class="col-1 card-list-item text-center edit"
                          (click)="editTrigger(groupIndex)"
                          *ngIf="editDeviceGroup.indexOf(groupIndex) < 0"
                        >
                          <img
                            src="../../assets/services/pencil.svg"
                            class="ng-tns-c138-2"
                          />
                          Edit
                        </div>
                        <div
                          class="
                            col-1
                            card-list-item
                            text-center
                            add-new-service-close
                            close
                          "
                          (click)="closeEdit()"
                          *ngIf="editDeviceGroup.indexOf(groupIndex) >= 0"
                        >
                          Close
                        </div>
                        <div
                          class="minimise-bx d-flex align-items-center"
                          (click)="closeExpand()"
                          *ngIf="
                            editDeviceGroup.indexOf(groupIndex) < 0 &&
                            expandDeviceGroups.indexOf(groupIndex) >= 0
                          "
                        >
                          <img src="assets/AdminPanel/negative.svg" />
                        </div>
                      </div>

                      <!-- <mat-panel-description
                      id="special"
                      class="col"
                      (click)="$event.stopPropagation()"
                      *ngFor="
                        let devices of group.devices;
                        let deviceIndex = index
                      "
                    > -->

                      <div
                        class="items d-flex flex-wrap t1t1"
                        *ngIf="
                          editDeviceGroup.indexOf(groupIndex) < 0 &&
                          expandDeviceGroups.indexOf(groupIndex) < 0
                        "
                      >
                        <div
                          id="special"
                          class="col mat-panel-description"
                          *ngFor="
                            let devices of group.devices;
                            let deviceIndex = index
                          "
                        >
                          <div
                            class="device-group-items flex-wrap"
                            *ngIf="deviceIndex < 6"
                          >
                            <div class="device-group-item col d-flex">
                              <div class="mx-1 d-flex col align-items-center">
                                <div class="img-bg">
                                  <img
                                    src="../../../assets/deviceSim/cc-cam-big.svg"
                                    class="mx-2"
                                  />
                                </div>

                                <div class="mx-1 camera">
                                  {{ devices["display-name"] }}
                                </div>
                                <div class="mx-1 location">
                                  {{ devices.location }}
                                </div>
                                <div class="status-dot">
                                  <img
                                    src="../../assets/deviceSim/success-dot.svg"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="plush-min"
                      *ngIf="
                        editDeviceGroup.indexOf(groupIndex) < 0 &&
                        expandDeviceGroups.indexOf(groupIndex) < 0
                      "
                    >
                      <div
                        class="right-bx-shadow d-flex align-items-center"
                        (click)="expandTrigger(groupIndex)"
                      >
                        <div class="plush-blue">
                          <img
                            class="mx-auto plush-blue"
                            src="assets/AdminPanel/plush-blue.svg"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="acc-content"
                  *ngIf="expandDeviceGroups.indexOf(groupIndex) >= 0"
                >
                  <div
                    class="items d-flex flex-wrap"
                    *ngIf="editDeviceGroup.indexOf(groupIndex) < 0"
                  >
                    <div
                      id="special"
                      class="col mat-panel-description"
                      *ngFor="
                        let devices of group.devices;
                        let deviceIndex = index
                      "
                    >
                      <div class="device-group-items flex-wrap">
                        <div class="device-group-item col d-flex">
                          <div class="mx-1 d-flex col align-items-center">
                            <div class="img-bg">
                              <img
                                src="../../../assets/deviceSim/cc-cam-big.svg"
                                class="mx-2"
                              />
                            </div>

                            <div class="mx-1 camera">
                              {{ devices["display-name"] }}
                            </div>
                            <div class="mx-1 location">
                              {{ devices.location }}
                            </div>
                            <div class="status-dot">
                              <img
                                src="../../assets/deviceSim/success-dot.svg"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--DEVICE GROUP EDIT FORM-->
              <div
                class="edit-device-goup-form forms-block col-12"
                *ngIf="editDeviceGroup.indexOf(groupIndex) >= 0"
              >
                <form [formGroup]="deviceGroupEditForm">
                  <div class="mx-3 py-3 edit-section">
                    <div class="form-sec">
                      <div class="d-flex p-2 form-body">
                        <div class="left-sec col-6">
                          <div class="my-2 mx-3">
                            <mat-label class="form-label"
                              >Device group name
                            </mat-label>
                            <input
                              class="form-control form-field-big"
                              type="text"
                              [formControl]="
                                getEditControl(
                                  groups[groupIndex].form,
                                  'newDeviceGroup'
                                )
                              "
                              [ngClass]="{
                                'is-invalid':
                                  (editDeviceGroupError ||
                                    groups[groupIndex].form.get(
                                      'newDeviceGroup'
                                    ).touched) &&
                                  groups[groupIndex].form.get('newDeviceGroup')
                                    .invalid
                              }"
                              name="newDeviceGroup"
                              id="newDeviceGroup"
                              placeholder="device group name"
                            />
                            <div
                              *ngIf="
                                (editDeviceGroupError ||
                                  groups[groupIndex].form.get('newDeviceGroup')
                                    .touched) &&
                                groups[groupIndex].form.get('newDeviceGroup')
                                  .invalid
                              "
                              class="error-field"
                            >
                              Device Group name is required
                            </div>
                          </div>
                          <div class="ip-domain-box my-2 mx-3">
                            <h4 class="form-label">IP Domain</h4>
                            <mat-form-field
                              class=""
                              appearance="fill"
                              [ngClass]="{
                                'is-invalid':
                                  groups[groupIndex].form.get('newIpDomain')
                                    .touched &&
                                  groups[groupIndex].form.get('newIpDomain')
                                    .invalid
                              }"
                            >
                              <mat-select
                                placeholder="Select IP Domain"
                                [formControl]="
                                  getEditControl(
                                    groups[groupIndex].form,
                                    'newIpDomain'
                                  )
                                "
                              >
                                <mat-option
                                  [value]="domain"
                                  *ngFor="
                                    let domain of domainList;
                                    let domainIndex = index
                                  "
                                  >{{ domain }}</mat-option
                                >
                              </mat-select>
                            </mat-form-field>
                            <!-- <input
                                class="form-control"
                                type="text"
                                formControlName="newIpDomain"
                                name="newIpDomain"
                                id="newIpDomain"
                                placeholder="Select IP Domain"
                              /> -->
                            <div
                              *ngIf="
                                (editDeviceGroupError ||
                                  groups[groupIndex].form.get('newIpDomain')
                                    .touched) &&
                                groups[groupIndex].form.get('newIpDomain')
                                  .invalid
                              "
                              class="error-field"
                            >
                              IP Domain is required
                            </div>
                          </div>
                        </div>
                        <div class="right-sec col-6">
                          <div class="my-2 mx-3">
                            <mat-label class="form-label"
                              >Description
                            </mat-label>
                            <textarea
                              class="my-2"
                              rows="6"
                              cols="45"
                              [formControl]="
                                getEditControl(
                                  groups[groupIndex].form,
                                  'newDescription'
                                )
                              "
                              [ngClass]="{
                                'is-invalid':
                                  groups[groupIndex].form.get('newDescription')
                                    .touched &&
                                  groups[groupIndex].form.get('newDescription')
                                    .invalid
                              }"
                            >
                            </textarea>
                            <div
                              *ngIf="
                                (editDeviceGroupError ||
                                  groups[groupIndex].form.get('newDescription')
                                    .touched) &&
                                groups[groupIndex].form.get('newDescription')
                                  .invalid
                              "
                              class="error-field"
                            >
                              Description is required
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="remove-device-label mx-4">
                        Select Devices to remove form group
                      </div>
                      <div class="my-2 mx-4 d-flex flex-wrap">
                        <div
                          class="device-group-items d-flex flex-wrap"
                          *ngFor="
                            let devices of group.devices;
                            let deviceIndex = index
                          "
                        >
                          <div class="device-group-item">
                            <div class="mx-1 d-flex align-items-center">
                              <div
                                class="select"
                                (click)="
                                  deleteDevicesInGroups(groupIndex, deviceIndex)
                                "
                              >
                                <img
                                  src="../../../assets/CommonAssets/delete-red-bg.svg"
                                />
                              </div>

                              <div class="img-bg-popup">
                                <img
                                  src="../../../assets/deviceSim/ccCam-deviceDialog.svg"
                                  class="mx-2"
                                />
                              </div>

                              <div class="mx-1 camera">
                                {{ devices["display-name"] }}
                              </div>
                              <div class="mx-1 location">Location 1</div>
                              <div class="status-dot">
                                <img
                                  src="../../assets/deviceSim/success-dot.svg"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="edit-add-new-device">
                        <div class="d-flex">
                          <div
                            class="label mx-4 my-3"
                            (click)="editAddDeviceGroupFun()"
                            *ngIf="!editAddDeviceGroup"
                          >
                            +Add new devices
                          </div>
                        </div>

                        <div class="my-2 mx-4" *ngIf="editAddDeviceGroup">
                          <div class="d-flex">
                            <div class="label-select">
                              Select devices to add the group
                            </div>
                            <div
                              class="label mx-4 cancel"
                              (click)="editAddDeviceGroup = !editAddDeviceGroup"
                              *ngIf="editAddDeviceGroup"
                            >
                              Cancel
                            </div>
                          </div>

                          <div class="device-group-items d-flex flex-wrap">
                            <div
                              class="device-group-item"
                              *ngFor="
                                let devices of deviceInventory;
                                let deviceIndex = index
                              "
                              (click)="
                                changeSelectionAddDevices(
                                  devices['display-name'],
                                  devices.imei,
                                  devices.location,
                                  devices['serial-number'],
                                  devices.sim,
                                  devices.type,
                                  deviceIndex
                                )
                              "
                            >
                              <div class="mx-1 d-flex align-items-center">
                                <div class="select">
                                  <img
                                    [src]="
                                      devices.selected === 1
                                        ? 'assets/deviceSim/selected-card.svg'
                                        : 'assets/deviceSim/select.svg'
                                    "
                                  />
                                </div>

                                <div class="img-bg-popup">
                                  <img
                                    src="../../../assets/deviceSim/ccCam-deviceDialog.svg"
                                    class="mx-2"
                                  />
                                </div>

                                <div class="mx-1 camera">
                                  {{ devices["display-name"] }}
                                </div>
                                <div class="mx-1 location">
                                  {{ devices.location }}
                                </div>
                                <div class="status-dot">
                                  <img
                                    src="../../assets/deviceSim/success-dot.svg"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="device-group-item">
                              <div class="mx-1 d-flex align-items-center">
                                <div class="select">
                                  <img
                                    src="../../../assets/deviceSim/select.svg"
                                  />
                                </div>

                                <div class="img-bg-popup">
                                  <img
                                    src="../../../assets/deviceSim/ccCam-deviceDialog.svg"
                                    class="mx-2"
                                  />
                                </div>

                                <div class="mx-1 camera">Camera 1</div>
                                <div class="mx-1 location">Location 1</div>
                                <div class="status-dot">
                                  <img
                                    src="../../assets/deviceSim/success-dot.svg"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <mat-card-actions class="form-actions d-flex mx-auto my-3">
                    <div
                      class="card-item-delete d-flex mx-2"
                      (click)="openDeleteDeviceGroupDialog(groupIndex)"
                    >
                      <div>
                        <img
                          class="ng-tns-c119-0"
                          src="../../assets/services/delete.svg"
                        />
                      </div>
                      <div class="delete-label">Delete Device Group</div>
                    </div>
                    <div class="button-sec">
                      <button
                        mat-button
                        type="button"
                        class="cancel btn btn-white mx-2"
                        (click)="closeEdit()"
                      >
                        Cancel
                      </button>
                      <button
                        class="add btn btn-save mx-2"
                        (click)="onEdit(groupIndex)"
                        type="button"
                        mat-raised-button
                        color="primary"
                      >
                        Save
                      </button>
                    </div>
                  </mat-card-actions>
                </form>
              </div>
            </div>
            <!--END DEVICE GROUP EDIT FORM-->
          </div>
        </div>
        <!--END DEVICE GROUP CARDS-->
      <!-- </div> -->
    </div>
  </div>
  <!-- </div> -->
</div>
