/*
 * SPDX-FileCopyrightText: 2022-present Open Networking Foundation <info@opennetworking.org>
 *
 * SPDX-License-Identifier: Apache-2.0
 */
@import "../stylesheets/_settings.scss";
@import "../stylesheets/componentStyles/navbar.scss";
@import "../stylesheets/componentStyles/adminpanel.scss";
@import "../stylesheets/componentStyles/sideNavbar.scss";
@import "../stylesheets/componentStyles/device-sim.scss";
@import "../stylesheets/componentStyles/select-sims.scss";
@import "../stylesheets/componentStyles/select-devices.scss";
@import "../stylesheets/componentStyles/services.scss";
@import "../stylesheets/componentStyles/device-groups.scss";
@import "../stylesheets/componentStyles/slices.scss";

@import "../stylesheets/componentStyles/dashboardStyle/dashboard.scss";
@import "../stylesheets/componentStyles/dashboardStyle/sites.scss";
@import "../stylesheets/componentStyles/dashboardStyle/slice.scss";
@import "../stylesheets/componentStyles/dashboardStyle/alerts";
@import "./componentStyles/small-cell";
@import "./componentStyles/dialog";

@import "../../app/Modules/dashboard/pages/modals/delete-card/modal.component.scss";
