// General Colors

$primaryColor: #0063F7;
$SecondaryColor: #FFFFFF;
$general-bg: #EDF4FF;

// Alert Colors

$AlertMedium: #FB8500;
$AlertCritical: #EF233C;
$AlertSuccess: #06D6A0;

// Shades from $SecondaryColor to $PrimaryColor (Order: Light to Dark)

$Shade_0: #EDF4FF;
$Shade_1: #C9DEFF;
$Shade_2: #97C1FF;
$Shade_3: #6EA6FF;
$Shade_4: #418CFF;
$Shade_5: #0062FF;
$Shade_6: #054ADA;
$Shade_7: #0530AD;
$Shade_8: #061F80;
$Shade_9: #051243;
$Shade_10: #000000;

//Text-Colors

$uploadTextColor: #004FC4;

