// General Colors

$primaryColor: #0063f7;
$SecondaryColor: #ffffff;
$general-bg: #edf4ff;

// Alert Colors

$AlertMedium: #fb8500;
$AlertCritical: #ef233c;
$AlertSuccess: #06d6a0;

// Shades from $SecondaryColor to $PrimaryColor (Order: Light to Dark)

$Shade_0: #edf4ff;
$Shade_1: #c9deff;
$Shade_2: #97c1ff;
$Shade_3: #6ea6ff;
$Shade_4: #418cff;
$Shade_5: #0062ff;
$Shade_6: #054ada;
$Shade_7: #0530ad;
$Shade_8: #061f80;
$Shade_9: #051243;
$Shade_10: #000000;

//Text-Colors

$uploadTextColor: #004fc4;

// Form-fields

.form-control:focus {
  border-color: $primaryColor !important;
  box-shadow: none;
}

.form-field-big {
  height: 48px;
  border-bottom: 1px solid #3c4257;
  margin-top: 8px;
}

.dashboard {
  &__device-icon {
    color: white;
  }
  &__cell-icon {
    // color: white;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    min-height: 200px;
    min-width: 250px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    &__centered {
      text-align: center;
    }
    &__details {
      color: #0063f7;
      margin-top: auto;
    }
    &__site {
      color: #3c4257;
      font-weight: 600;
      &--big {
        font-size: 16px;
      }
    }
    &__small-cell {
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 86px;
      min-height: 28px;
      border-radius: 27px;
      background: #06d6a0;
      gap: 5px;
      font-size: 600;
      align-self: center;
      padding: 5px 10px;
    }
    &__device {
      font-weight: 600;
      font-size: 16px;
      color: #0063f7;
    }
  }
}

.ml-5 {
  margin-left: 5rem !important;
}

.add-btn {
  button {
    color: #ffffff !important;
    background: #0063f7 !important;
    border-radius: 4px !important;
    text-align: left;
    margin: 0 auto;
    display: inherit;
    position: relative;
    padding: 10px 12px;
    // width: 216px;
  }
  .button-medium-14 {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: red;
    &::after {
      content: "+";
      position: absolute;
      font-size: 1.5rem;
      right: 8px;
      top: 10px;
    }
  }
}
