// General Colors

$primaryColor: #0063f7;
$SecondaryColor: #ffffff;
$general-bg: #edf4ff;

// Alert Colors

$AlertMedium: #fb8500;
$AlertCritical: #ef233c;
$AlertSuccess: #06d6a0;

// Shades from $SecondaryColor to $PrimaryColor (Order: Light to Dark)

$Shade_0: #edf4ff;
$Shade_1: #c9deff;
$Shade_2: #97c1ff;
$Shade_3: #6ea6ff;
$Shade_4: #418cff;
$Shade_5: #0062ff;
$Shade_6: #054ada;
$Shade_7: #0530ad;
$Shade_8: #061f80;
$Shade_9: #051243;
$Shade_10: #000000;

//Text-Colors

$uploadTextColor: #004fc4;

// Form-fields

.form-control:focus {
  border-color: $primaryColor !important;
  box-shadow: none;
}

.form-field-big {
  height: 48px;
  border-bottom: 1px solid #3c4257;
  margin-top: 8px;
}
